﻿
@{
    ViewData["Title"] = "İngilizce Makale Ekle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />
<script type="text/javascript">
    CKEDITOR.replace('editor')
</script>

@*<h2>Blog Kayıt Ekle</h2>*@

<div class="form">
    <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/ing-makale-ekle" enctype="multipart/form-data" novalidate="novalidate">
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Başlık <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Baslik" name="Baslik" minlength="5" type="text" required="">
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">İçerik <span class="required">*</span></label>
            <div class="col-lg-10">
                <textarea class="ckeditor" name="Icerik" id="Icerik"></textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Kategori Adı <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="KategoriAdi" name="KategoriAdi" minlength="5" type="text" required="">
            </div>
        </div>
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Resim <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="ResimURL" name="ResimURL" minlength="5" type="file" accept=".jpg,.png,.jpeg" required="">
            </div>
        </div>
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Tarih <span class="required">*</span></label>
            <div class="col-lg-10">
                <input name="Tarih" id="Tarih" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Ekle</button>
                <button class="btn btn-default" type="button"><a href="/anasayfa">İptal</a></button>
            </div>
        </div>
    </form>

    @if (TempData["mesaj"] != null)
    {
        <div id="dialog" title="Bilgi Mesajı">
            <p>
                @TempData["mesaj"].ToString()
            </p>
        </div>
    }

</div>
@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script>
        $("#dialog").dialog();
        $("#Tarih").datepicker({
            dateFormat: "dd/mm/yy",
            onSelect: function (date) {
                minDateFilter = new Date(date).getTime();
            }
        });
    </script>
}

