﻿@model IEnumerable<Kapasitematik.Database.Article>
@{
    ViewData["Title"] = "Makale Listesi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="/DataTables-1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="/NiceAdmin/css/font-awesome.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Makale Listesi
            </header>
            <table border="0" cellspacing="5" cellpadding="5">
                <tbody>
                    <tr>
                        <td><a href="/makale-ekle" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> Yeni Makale</a></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-advance table-hover" id="mapTable">
                <thead>
                    <tr>
                        <th><i class="fa fa-globe"></i> Başlık</th>
                        <th><i class="fa fa-compass"></i> İçerik</th>
                        <th><i class="fa fa-image"></i> Resim</th>
                        <th><i class="icon-calendar-l"></i> Tarih</th>
                        <th><i class="fa fa-pencil"></i> Güncelle</th>
                        <th><i class="fa fa-trash"></i> Sil</th>
                    </tr>
                </thead>
                <tbody id="tblIcerik">
                </tbody>
            </table>
            @*<button type="button" id="export" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel'e Aktar</button>*@
        </section>
    </div>
</div>
@section Scripts{
    <script src="/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //showMap();
            var html = "";
            //function showMap() {

            //    $('#mapTable').DataTable({
            //        "language": {
            //            "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
            //        },
            //        "searching": true,
            //        "lengthChange": true,
            //        "bInfo": true,
            //        "processing": true, // for show progress bar
            //        //"serverSide": true, // for process server side
            //        "filter": true, // this is for disable filter (search box)
            //        "orderMulti": false, // for disable multiple column at once
            //        "responsive": true,
            //        "paging": true,
            //        "bDestroy": true,
            //        "ajax": {
            //            "url": "/Admin/GetArticle/",
            //            "type": "GET",
            //            "datatype": "json",
            //            "dataSrc": ""
            //        },
            //        "columns": [
            //            {
            //                "data": "Baslik", "name": "Baslik", "autoWidth": true
            //            },
            //            {
            //                "data": "Icerik", "name": "Icerik", "autoWidth": true
            //            },
            //            { "data": "Tarih", "name": "Tarih", "autoWidth": true },
            //        ],
            //    });



            //}

            //$('#mapTable').DataTable({
            //    "language": {
            //        "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
            //    },
            //    "searching": true,
            //    "lengthChange": true,
            //    "bInfo": true,
            //    //"processing": true, // for show progress bar
            //    ////"serverSide": true, // for process server side
            //    //"filter": true, // this is for disable filter (search box)
            //    //"orderMulti": false, // for disable multiple column at once
            //    //"responsive": true,
            //    //"paging": true,
            //    //"bDestroy": true,
            //    "ajax": {
            //        "url": "/Admin/GetMaps/",
            //        //"data": function (data) {
            //        //    data.token = localStorage.getItem("token");
            //        //},
            //        "type": "GET",
            //        //"datatype": "json",
            //        //"dataSrc": ""
            //    },
            //    "columns": [
            //        { "data": "Latitude", "name": "Latitude", "autoWidth": true },
            //        { "data": "Longitude", "name": "Longitude", "autoWidth": true },
            //        { "data": "Address", "name": "Address", "autoWidth": true },
            //    ],
            //});



            $.ajax({
                url: "/Admin/GetArticle/",
                type: "GET",
                success: function (data) {
                    $.each(data, function (i, item) {
                        console.log(item);
                        function formatDate(date) {
                            var d = new Date(date),
                                month = '' + (d.getMonth() + 1),
                                day = '' + d.getDate(),
                                year = d.getFullYear();

                            if (month.length < 2)
                                month = '0' + month;
                            if (day.length < 2)
                                day = '0' + day;

                            return [day, month, year].join('-');
                        }
                        html += '<tr>' +
                            '<td>' + item.baslik + '</td>' +
                            '<td>' + item.icerik.substring(0, 150) + '</td>' +
                            '<td>' + '<img src='+ item.resimURL +' width="100" height="100" />' + '</td>' +
                            '<td>' + formatDate(item.tarih) + '</td>' +
                            '<td>' + '<a class="btn btn-primary" id="duzenle" href="/Admin/EditArticle/' + item.id + '">' + 'Düzenle' + '</a>' + '</td>' +
                            '<td>' + '<a class="btn btn-danger" id="sil" href="/Admin/DeleteArticle/' + item.id + '">' + 'Sil' + '</a>' + '</td>' + 
                            '</tr>';
                    });
                    $("#tblIcerik").append(html);
                    $("#mapTable").DataTable({
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                        }
                    });
                },
                error: function (error) {
                    console.log(error);
                },
                contentType: "application/json",
                dataType: "json"
            });
        });
    </script>
    <script type="text/javascript">
        $("#add").on('click', function () {
            Export();
        });
    </script>
}




