﻿@model Kapasitematik.Database.Article
@{
    ViewData["Title"] = "Makale Düzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*<h2>Blog Kayıt Düzenle</h2>*@

<div class="form">
    <form class="form-validate form-horizontal" id="feedback_form" method="post" asp-controller="Admin" asp-action="EditArticle" enctype="multipart/form-data" novalidate="novalidate">
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2" hidden>Id <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Id" name="Id" minlength="5" type="hidden" required="" value="@Model.Id">
            </div>
        </div>
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Başlık <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Baslik" name="Baslik" minlength="5" type="text" required="" value="@Model.Baslik">
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">İçerik <span class="required">*</span></label>
            <div class="col-lg-10">
                <textarea class="ckeditor" name="Icerik" id="Icerik">@Model.Icerik</textarea>
            </div>
        </div>
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Önceki Resim <span class="required">*</span></label>
            <div class="col-lg-10">
                <img src="@Model.ResimUrl" width="150" height="100" />
            </div>
        </div>
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Resim <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="ResimURL" name="ResimURL" minlength="5" type="file" accept=".jpg,.png,.jpeg">
            </div>
        </div>
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Tarih <span class="required">*</span></label>
            <div class="col-lg-10">
                <input name="Tarih" id="Tarih" type="text" class="form-control" value="@Model.Tarih.ToShortDateString()">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Düzenle</button>
                <button class="btn btn-default" type="button"><a href="/makale-listesi">İptal</a></button>
            </div>
        </div>
    </form>

    @if (TempData["mesaj"] != null)
    {
        <div id="dialog" title="Bilgi Mesajı">
            <p>
                @TempData["mesaj"].ToString()
            </p>
        </div>
    }

</div>

@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script>
        $("#dialog").dialog();
        $("#Tarih").datepicker({
            dateFormat: "dd/mm/yy",
            onSelect: function (date) {
                minDateFilter = new Date(date).getTime();
            }
        });
    </script>
}