﻿@model Kapasitematik.Database.Yorum

@{
    ViewData["Title"] = "Yorum Düzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*<h2>Yorum Düzenle</h2>*@

<div class="form">
    <form class="form-validate form-horizontal" id="feedback_form" method="post" asp-controller="Yorum" asp-action="Edit" novalidate="novalidate">
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2" hidden>Id <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" asp-for="Id" minlength="5" type="hidden" required="">
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">İçerik <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" type="text" asp-for="Icerik">
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Ad Soyad <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" type="text" asp-for="AdSoyad">
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Eposta <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" type="email" asp-for="Eposta">
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Onay <span class="required">*</span></label>
            <div class="col-lg-10">
                <input type="checkbox" asp-for="Onay">
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Makale Başlığı <span class="required">*</span></label>
            <div class="col-lg-10">
                <select asp-for="FkArticleId" class="form-control" asp-items="ViewBag.FkArticleId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Düzenle</button>
                <button class="btn btn-default" type="button"><a href="/yorum">İptal</a></button>
            </div>
        </div>
    </form>

    @if (TempData["mesaj"] != null)
    {
        <div id="dialog" title="Bilgi Mesajı">
            <p>
                @TempData["mesaj"].ToString()
            </p>
        </div>
    }
</div>
@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    <script>
        $("#dialog").dialog();
    </script>
}
