﻿@model IEnumerable<Kapasitematik.Database.Yorum>

@{
    ViewData["Title"] = "Yorum Listesi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="/DataTables-1.10.21/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="/NiceAdmin/css/font-awesome.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Yorum Listesi
            </header>
            <table border="0" cellspacing="5" cellpadding="5">
                <tbody>
                    <tr>
                        <td><a href="/Yorum/Create" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> Yeni Yorum</a></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped table-advance table-hover" id="mapTable">
                <thead>
                    <tr>
                        <th><i class="fa fa-globe"></i> İçerik</th>
                        <th><i class="fa fa-compass"></i> Adı Soyadı</th>
                        <th><i class="fa fa-compass"></i> Eposta</th>
                        <th><i class="fa fa-info"></i> Onay</th>
                        <th><i class="fa fa-header"></i> Makale Başlığı</th>
                        <th><i class="fa fa-pencil"></i> Güncelle</th>
                        <th><i class="fa fa-trash"></i> Sil</th>
                    </tr>
                </thead>
                <tbody id="tblIcerik">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Icerik)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdSoyad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Eposta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Onay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FkArticle.Baslik)
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-action="DeleteYorum" asp-route-id="@item.Id">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*<button type="button" id="export" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel'e Aktar</button>*@
        </section>
    </div>
</div>
@section Scripts{
    <script src="/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {           
            $("#mapTable").DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                }
            });
        });
    </script>
}
