﻿
<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="pingback" href="https://demo.goodlayers.com/realfactory/xmlrpc.php">
    <noscript id="aonoscrcss"></noscript>
    <title>@ViewData["Title"] &#8211; Kapasitematik</title>
    <meta name='robots' content='noindex,nofollow' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="alternate" type="application/rss+xml" title="Real Factory &raquo; Feed" href="https://demo.goodlayers.com/realfactory/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Real Factory &raquo; Comments Feed" href="https://demo.goodlayers.com/realfactory/comments/feed/" />
    <!-- <link rel='stylesheet' id='wp-block-library-css'  href='https://demo.goodlayers.com/realfactory/wp-includes/css/dist/block-library/style.min.css?ver=5.5.1' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='wc-block-vendors-style-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_5a625f7100b0b0a4fde3444e3329311b.css?ver=3.1.0' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='wc-block-style-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_05f9e18b963b2823e582347ef8012a6e.css?ver=3.1.0' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='titan-adminbar-styles-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_c6a832191e7984247b250a333f49694c.css?ver=7.2.0' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='contact-form-7-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_c7fd42b5bb3873666b0c3fc87bf32c6d.css?ver=5.2.2' type='text/css' media='all' /> -->
    <link rel='stylesheet' id='gdlr-core-google-font-css' href='https://fonts.googleapis.com/css?family=Hind%3A300%2Cregular%2C500%2C600%2C700&#038;subset=latin%2Clatin-ext%2Cdevanagari&#038;ver=5.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_1cbdf58db7054d3a8dad5f59864b7053.css?ver=5.5.1' type='text/css' media='all' />
    <!-- <link rel='stylesheet' id='elegant-font-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_1151d563689d7335d1aa1859d4de509f.css?ver=5.5.1' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='gdlr-core-plugin-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_5ccce8313d04c914196502e86da69f0d.css?ver=1589729011' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='gdlr-core-page-builder-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_71308a60bb63a81eec1acbb99747d377.css?ver=5.5.1' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='rs-plugin-settings-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_6965137b6996c7953be805866df582ed.css?ver=6.2.22' type='text/css' media='all' /> -->
    <link href="~/css/style.css" rel="stylesheet" />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <!-- <link rel='stylesheet' id='woocommerce-layout-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_9bbdbddc8daf66e019a59515d481ef6a.css?ver=4.5.2' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='woocommerce-smallscreen-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_98f4e97f86b642bf082c65ae518ad010.css?ver=4.5.2' type='text/css' media='only screen and (max-width: 768px)' /> -->
    <!-- <link rel='stylesheet' id='woocommerce-general-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_a5aecabff1e91f708586e81f991e450a.css?ver=4.5.2' type='text/css' media='all' /> -->
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <!-- <link rel='stylesheet' id='realfactory-style-core-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_a75bd16bc2e5d9132cb2871e1fef9020.css?ver=5.5.1' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='realfactory-custom-style-css'  href='https://demo.goodlayers.com/realfactory/wp-content/uploads/rftr-style-custom.css?1571971895&#038;ver=5.5.1' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='newsletter-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_f350858db244047b88dcf6b394096ea0.css?ver=6.8.7' type='text/css' media='all' /> -->
    <!-- <link rel='stylesheet' id='wpgmp-frontend_css-css'  href='https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/css/autoptimize_single_f95a9de03e7ff89d8373282d750e1825.css?ver=5.5.1' type='text/css' media='all' /> -->
    <link href="~/css/styles.css" rel="stylesheet" />
    <script type="974837571eebcacb5c9a9775-text/javascript">if (document.location.protocol != "https:") {document.location = document.URL.replace(/^http:/i, "https:");}</script>
    <script src='//demo.goodlayers.com/realfactory/wp-content/cache/wpfc-minified/lcqc4uqu/8ad71.js' type="974837571eebcacb5c9a9775-text/javascript"></script>
    <!--<script type='text/javascript' src='https://demo.goodlayers.com/realfactory/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp' id='jquery-core-js'></script> -->
    <link rel="https://api.w.org/" href="https://demo.goodlayers.com/realfactory/wp-json/" />
    <link rel="alternate" type="application/json" href="https://demo.goodlayers.com/realfactory/wp-json/wp/v2/pages/2039" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://demo.goodlayers.com/realfactory/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://demo.goodlayers.com/realfactory/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.5.1" />
    <meta name="generator" content="WooCommerce 4.5.2" />
    <link rel="canonical" href="https://demo.goodlayers.com/realfactory/" />
    <link rel='shortlink' href='https://demo.goodlayers.com/realfactory/' />
    <link rel="alternate" type="application/json+oembed" href="https://demo.goodlayers.com/realfactory/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdemo.goodlayers.com%2Frealfactory%2F" />
    <link rel="alternate" type="text/xml+oembed" href="https://demo.goodlayers.com/realfactory/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdemo.goodlayers.com%2Frealfactory%2F&#038;format=xml" />
    <script type="974837571eebcacb5c9a9775-text/javascript">
        (function(url){
        if(/(?:Chrome\/26\.0\.1410\.63 Safari\/537\.31|WordfenceTestMonBot)/.test(navigator.userAgent)){ return; }
        var addEvent = function(evt, handler) {
        if (window.addEventListener) {
        document.addEventListener(evt, handler, false);
        } else if (window.attachEvent) {
        document.attachEvent('on' + evt, handler);
        }
        };
        var removeEvent = function(evt, handler) {
        if (window.removeEventListener) {
        document.removeEventListener(evt, handler, false);
        } else if (window.detachEvent) {
        document.detachEvent('on' + evt, handler);
        }
        };
        var evts = 'contextmenu dblclick drag dragend dragenter dragleave dragover dragstart drop keydown keypress keyup mousedown mousemove mouseout mouseover mouseup mousewheel scroll'.split(' ');
        var logHuman = function() {
        if (window.wfLogHumanRan) { return; }
        window.wfLogHumanRan = true;
        var wfscr = document.createElement('script');
        wfscr.type = 'text/javascript';
        wfscr.async = true;
        wfscr.src = url + '&r=' + Math.random();
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(wfscr);
        for (var i = 0; i < evts.length; i++) {
        removeEvent(evts[i], logHuman);
        }
        };
        for (var i = 0; i < evts.length; i++) {
        addEvent(evts[i], logHuman);
        }
        })('//demo.goodlayers.com/realfactory/?wordfence_lh=1&hid=46CE402B9C5D6B6827D4C9B941E77712');
    </script>
    <!--[if lt IE 9]>
    <script src="https://demo.goodlayers.com/realfactory/wp-content/themes/realfactory/js/html5.js"></script>
    <![endif]-->
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name="generator" content="Powered by Slider Revolution 6.2.22 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="974837571eebcacb5c9a9775-text/javascript">
        function setREVStartSize(e){
        //window.requestAnimationFrame(function() {
        window.RSIW = window.RSIW===undefined ? window.innerWidth : window.RSIW;
        window.RSIH = window.RSIH===undefined ? window.innerHeight : window.RSIH;
        try {
        var pw = document.getElementById(e.c).parentNode.offsetWidth,
        newh;
        pw = pw===0 || isNaN(pw) ? window.RSIW : pw;
        e.tabw = e.tabw===undefined ? 0 : parseInt(e.tabw);
        e.thumbw = e.thumbw===undefined ? 0 : parseInt(e.thumbw);
        e.tabh = e.tabh===undefined ? 0 : parseInt(e.tabh);
        e.thumbh = e.thumbh===undefined ? 0 : parseInt(e.thumbh);
        e.tabhide = e.tabhide===undefined ? 0 : parseInt(e.tabhide);
        e.thumbhide = e.thumbhide===undefined ? 0 : parseInt(e.thumbhide);
        e.mh = e.mh===undefined || e.mh=="" || e.mh==="auto" ? 0 : parseInt(e.mh,0);
        if(e.layout==="fullscreen" || e.l==="fullscreen")
        newh = Math.max(e.mh,window.RSIH);
        else{
        e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
        for (var i in e.rl) if (e.gw[i]===undefined || e.gw[i]===0) e.gw[i] = e.gw[i-1];
        e.gh = e.el===undefined || e.el==="" || (Array.isArray(e.el) && e.el.length==0)? e.gh : e.el;
        e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
        for (var i in e.rl) if (e.gh[i]===undefined || e.gh[i]===0) e.gh[i] = e.gh[i-1];
        var nl = new Array(e.rl.length),
        ix = 0,
        sl;
        e.tabw = e.tabhide>=pw ? 0 : e.tabw;
        e.thumbw = e.thumbhide>=pw ? 0 : e.thumbw;
        e.tabh = e.tabhide>=pw ? 0 : e.tabh;
        e.thumbh = e.thumbhide>=pw ? 0 : e.thumbh;
        for (var i in e.rl) nl[i] = e.rl[i]<window.RSIW ? 0 : e.rl[i];
        sl = nl[0];
        for (var i in nl) if (sl>nl[i] && nl[i]>0) { sl = nl[i]; ix=i;}
        var m = pw>(e.gw[ix]+e.tabw+e.thumbw) ? 1 : (pw-(e.tabw+e.thumbw)) / (e.gw[ix]);
        newh =  (e.gh[ix] * m) + (e.tabh + e.thumbh);
        }
        if(window.rs_init_css===undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
        document.getElementById(e.c).height = newh+"px";
        window.rs_init_css.innerHTML += "#"+e.c+"_wrapper { height: "+newh+"px }";
        } catch(e){
        console.log("Failure at Presize of Slider:" + e)
        }
        //});
        };</script>
</head>
<body data-rsssl=1 class="home page-template-default page page-id-2039 theme-realfactory gdlr-core-body woocommerce-no-js realfactory-body realfactory-body-front realfactory-full  realfactory-with-sticky-navigation gdlr-core-link-to-lightbox">
    <div class="realfactory-mobile-header-wrap">
        <div class="realfactory-mobile-header realfactory-header-background realfactory-style-slide" id="realfactory-mobile-header">
            <div class="realfactory-mobile-header-container realfactory-container">
                <div class="realfactory-logo  realfactory-item-pdlr">
                    <div class="realfactory-logo-inner">
                        <a href="/en">
                            <img src="/images/logo3.png" />
                        </a>
                    </div>
                </div>
                <div class="realfactory-mobile-menu-right">
                    <div class="realfactory-main-menu-search" id="realfactory-mobile-top-search">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="realfactory-top-search-wrap">
                        <div class="realfactory-top-search-close"></div>
                        <div class="realfactory-top-search-row">
                            <div class="realfactory-top-search-cell">
                                <form role="search" method="get" class="search-form" action="https://demo.goodlayers.com/realfactory/">
                                    <input type="text" class="search-field realfactory-title-font" placeholder="Search..." value="" name="s">
                                    <div class="realfactory-top-search-submit"><i class="fa fa-search"></i></div>
                                    <input type="submit" class="search-submit" value="Search">
                                    <div class="realfactory-top-search-close"><i class="icon_close"></i></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="realfactory-mobile-menu">
                        <a class="realfactory-mm-menu-button realfactory-mobile-menu-button realfactory-mobile-button-hamburger-with-border" href="#realfactory-mobile-menu">
                            <i class="fa fa-bars"></i>
                        </a>
                        <div class="realfactory-mm-menu-wrap realfactory-navigation-font" id="realfactory-mobile-menu" data-slide="right">
                            <ul id="menu-main-navigation" class="m-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2039 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2043">
                                    <a href="#whyy" class="sf-with-ul-pre">Why Kapasitematik?</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2350">
                                    <a href="#reporten" class="sf-with-ul-pre">Reporting</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2849">
                                    <a href="/mobile" class="sf-with-ul-pre">Mobile App</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2539">
                                    <a href="/referances" class="sf-with-ul-pre">Referances</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2856">
                                    <a href="/videos" class="sf-with-ul-pre">Videos</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1859">
                                    <a href="/contact" class="sf-with-ul-pre">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="realfactory-body-outer-wrapper ">
        <div class="realfactory-body-wrapper clearfix  realfactory-with-transparent-navigation realfactory-with-frame">
            <div class="realfactory-top-bar">
                <div class="realfactory-top-bar-background"></div>
                <div class="realfactory-top-bar-container clearfix realfactory-container ">
                    <div class="realfactory-top-bar-left realfactory-item-pdlr">
                        <div class="gdlr-core-dropdown-tab gdlr-core-js clearfix">
                            <div class="gdlr-core-dropdown-tab-title">
                                <span class="gdlr-core-head">EN</span>
                                <div class="gdlr-core-dropdown-tab-head-wrap">
                                    <div class="gdlr-core-dropdown-tab-head ">
                                        <a href="@Url.Action("Index","Home")"> TR </a>
                                    </div>
                                    <div class="gdlr-core-dropdown-tab-head ">
                                        <a href="/en"> EN </a>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-dropdown-tab-content-wrap">
                                <div class="gdlr-core-dropdown-tab-content gdlr-core-active" data-index="0">
                                    <i class="fa fa-phone" style="font-size: 16px ;color: #f7c02e ;margin-right: 10px ;"></i> 0212 674 60 10
                                    <i class="fa fa-envelope-o" style="font-size: 16px ;color: #f7c02e ;margin-left: 24px ;margin-right: 10px ;"></i> <span>kapasitematik@tezmaksan.com</span>
                                    <i class="fa fa-location-arrow" style="font-size: 16px ;color: #f7c02e ;margin-left: 24px ;margin-right: 10px ;"></i><span><a href="https://goo.gl/maps/P823Fpg1eSA2" style="color: #727272 ;">Find Us</a></span>
                                </div>
                                <div class="gdlr-core-dropdown-tab-content " data-index="1">
                                    <i class="fa fa-phone" style="font-size: 16px ;color: #f7c02e ;margin-right: 10px ;"></i> 0212 674 60 10
                                    <i class="fa fa-envelope-o" style="font-size: 16px ;color: #f7c02e ;margin-left: 24px ;margin-right: 10px ;"></i> <span>kapasitematik@tezmaksan.com</span>
                                    <i class="fa fa-location-arrow" style="font-size: 16px ;color: #f7c02e ;margin-left: 24px ;margin-right: 10px ;"></i><span><a href="https://goo.gl/maps/P823Fpg1eSA2" style="color: #727272 ;">Find Us</a></span>
                                </div>
                                <div class="gdlr-core-dropdown-tab-content " data-index="2">
                                    <i class="fa fa-phone" style="font-size: 16px ;color: #f7c02e ;margin-right: 10px ;"></i> 0212 674 60 10
                                    <i class="fa fa-envelope-o" style="font-size: 16px ;color: #f7c02e ;margin-left: 24px ;margin-right: 10px ;"></i> <span>kapasitematik@tezmaksan.com</span>
                                    <i class="fa fa-location-arrow" style="font-size: 16px ;color: #f7c02e ;margin-left: 24px ;margin-right: 10px ;"></i><span><a href="https://goo.gl/maps/P823Fpg1eSA2" style="color: #727272 ;">Find Us</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="realfactory-top-bar-right realfactory-item-pdlr">
                        <div class="realfactory-top-bar-right-social">
                            <a href="mailto:kapasitematik@tezmaksan.com" target="_blank" class="realfactory-top-bar-social-icon" title="email">
                                <i class="fa fa-envelope"></i>
                            </a>
                            <a href="https://tr-tr.facebook.com/TezmaksanAS/" target="_blank" class="realfactory-top-bar-social-icon" title="facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/tezmaksan" target="_blank" class="realfactory-top-bar-social-icon" title="linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://twitter.com/tezmaksanmakina" target="_blank" class="realfactory-top-bar-social-icon" title="twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="https://www.instagram.com/tezmaksan_makina/?hl=tr" target="_blank" class="realfactory-top-bar-social-icon" title="instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <header class="realfactory-header-wrap realfactory-header-style-bar realfactory-header-background  realfactory-style-left">
                <div class="realfactory-header-container clearfix  realfactory-container">
                    <div class="realfactory-header-container-inner">
                        <div class="realfactory-logo  realfactory-item-pdlr">
                            <div class="realfactory-logo-inner">
                                <a href="/en">
                                    <img src="/images/logo3.png" style="margin-left: -30px;" />
                                </a>
                            </div>
                        </div>
                        <div class="realfactory-logo-right-text realfactory-item-pdlr">
                            <div class="realfactory-logo-right-block">
                                <i class="realfactory-logo-right-block-icon fa fa-check-circle-o"></i>
                                <div class="realfactory-logo-right-block-content">
                                    <div class="realfactory-logo-right-block-title realfactory-title-font">Efficiency</div>
                                    <div class="realfactory-logo-right-block-caption realfactory-title-font">Efficiency Tracking</div>
                                </div>
                            </div>
                            <div class="realfactory-logo-right-block">
                                <i class="realfactory-logo-right-block-icon fa fa-check-circle-o"></i>
                                <div class="realfactory-logo-right-block-content">
                                    <div class="realfactory-logo-right-block-title realfactory-title-font">Manufacture</div>
                                    <div class="realfactory-logo-right-block-caption realfactory-title-font">Manufacture Tracking</div>
                                </div>
                            </div>
                            <div class="realfactory-logo-right-block">
                                <i class="realfactory-logo-right-block-icon fa fa-check-circle-o"></i>
                                <div class="realfactory-logo-right-block-content">
                                    <div class="realfactory-logo-right-block-title realfactory-title-font">Tool Life</div>
                                    <div class="realfactory-logo-right-block-caption realfactory-title-font">Tool Life Management</div>
                                </div>
                            </div>
                            <a class="realfactory-header-right-button" href="/pdf/kapasitematikEn.pdf" target="_self">Catalog</a>
                            @*<a class="realfactory-header-right-button" href="/talep-formu" target="_self">Kapasitematik Talep</a>*@
                        </div>
                    </div>
                </div>
            </header><!-- header -->
            <div class="realfactory-navigation-bar-wrap  realfactory-style-transparent realfactory-sticky-navigation realfactory-sticky-navigation-height realfactory-style-left  realfactory-style-fixed realfactory-without-placeholder">
                <div class="realfactory-navigation-background"></div>
                <div class="realfactory-navigation-container clearfix  realfactory-container">
                    <div class="realfactory-navigation realfactory-item-pdlr clearfix ">
                        <div class="realfactory-main-menu" id="realfactory-main-menu">
                            <ul id="menu-main-navigation-1" class="sf-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2350 realfactory-normal-menu">
                                    <a href="/en#whyy" class="sf-with-ul-pre">Why Kapasitematik?</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2849 realfactory-normal-menu">
                                    <a href="#reporten" class="sf-with-ul-pre">Reporting</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2539 realfactory-mega-menu">
                                    <a href="/mobile" class="sf-with-ul-pre">Mobile App</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1859 realfactory-mega-menu">
                                    <a href="/referances" class="sf-with-ul-pre">Referances</a>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1859 realfactory-mega-menu">
                                    <a href="/videos" class="sf-with-ul-pre">Videos</a>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3889 realfactory-normal-menu">
                                    <a href="/contact" class="sf-with-ul-pre">Contact</a>
                                </li>
                            </ul>
                            <div class="realfactory-navigation-slide-bar" id="realfactory-navigation-slide-bar"></div>
                        </div>
                        <div class="realfactory-main-menu-right-wrap clearfix ">
                            <div class="realfactory-main-menu-search" id="realfactory-top-search">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="realfactory-top-search-wrap">
                                <div class="realfactory-top-search-close"></div>
                                <div class="realfactory-top-search-row">
                                    <div class="realfactory-top-search-cell">
                                        <form role="search" method="get" class="search-form" action="https://demo.goodlayers.com/realfactory/">
                                            <input type="text" class="search-field realfactory-title-font" placeholder="Ara..." value="" name="s">
                                            <div class="realfactory-top-search-submit"><i class="fa fa-search"></i></div>
                                            <input type="submit" class="search-submit" value="Ara">
                                            <div class="realfactory-top-search-close"><i class="fa fa-close"></i></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- realfactory-navigation -->
                </div><!-- realfactory-header-container -->
            </div><!-- realfactory-navigation-bar-wrap -->
            <div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    @RenderBody()
                </div>
            </div>
            <footer>
                <div class="realfactory-footer-wrapper">
                    <div class="realfactory-footer-container realfactory-container clearfix">
                        <div class="realfactory-footer-column realfactory-item-pdlr realfactory-column-15">
                            <div id="text-3" class="widget widget_text realfactory-widget">
                                <div class="textwidget" style="color: #b2b2b2;">
                                    <span class="gdlr-core-space-shortcode" style="margin-top: -2px ;"></span>
                                    <img src="/images/logo3.png" style="margin-left: -30px;" />
                                    <span class="gdlr-core-space-shortcode" style="margin-top: 7px ;"></span>
                                    Tezmaksan, Turkey is the leading brand of machine market.
                                </div>
                            </div>
                        </div>
                        <div class="realfactory-footer-column realfactory-item-pdlr realfactory-column-15">
                            <div id="nav_menu-4" class="widget widget_nav_menu realfactory-widget">
                                <h3 class="realfactory-widget-title">Policies</h3>
                                <div class="menu-market-sectors-container">
                                    <ul id="menu-market-sectors" class="menu">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2808">
                                            <a href="/cookie-policy">Cookie Policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="realfactory-footer-column realfactory-item-pdlr realfactory-column-15">
                            <div id="text-7" class="widget widget_text realfactory-widget">
                                <h3 class="realfactory-widget-title">Contact</h3>
                                <div class="textwidget">
                                    <p style="color: #b2b2b2;">
                                        <i class="fa fa-location-arrow" style="font-size: 20px ;color: #f7c02e ;margin-left: 0px ;margin-right: 10px ;"></i> Abdi İpekçi Caddesi No:129, 34040 Bayrampaşa / İSTANBUL<br>
                                        <span class="gdlr-core-space-shortcode" style="margin-top: -6px ;"></span><br>
                                        <i class="fa fa-phone" style="font-size: 20px ;color: #f7c02e ;margin-right: 10px ;"></i> 0212 674 60 10 <br>
                                        <span class="gdlr-core-space-shortcode" style="margin-top: -6px ;"></span><br>
                                        <i class="fa fa-envelope-o" style="font-size: 20px ;color: #f7c02e ;margin-left: 0px ;margin-right: 0px ;"></i> kapasitematik@tezmaksan.com
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center text-center">
                            <div class="col-md-6 col-lg-6">
                                <h3 class="realfactory-widget-title">Be Alerted To News</h3>
                                <div class="input-group">
                                    @*<input type="email" name="Name" id="cevrimZamani" placeholder="E-Mail Adresiniz" class="form-control required email" aria-label="Recipient's username" aria-describedby="basic-addon2" required>*@
                                    <input type="email" id="cevrimZamani" size="20" class="form-control-lg" aria-required="true" aria-invalid="false" placeholder="E-Mail*" style="border-radius:5px;">
                                    <a class="gdlr-core-button  gdlr-core-button-gradient gdlr-core-button-no-border" id="subscribe" style="font-size:10px;">
                                        <span class="gdlr-core-content">Subscribe</span>
                                    </a>
                                </div>
                                <br />
                                <div class="subscribe-results"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="realfactory-copyright-wrapper">
                    <div class="realfactory-copyright-container realfactory-container">
                        <div class="realfactory-copyright-text realfactory-item-pdlr">Copyright 2020 Tezmaksan, Tüm Hakları Saklıdır</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <style>
        #gdlr-core-column-30944 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-30944 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-30944 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
            border-color: #ffffff !important;
        }

        #gdlr-core-column-36005 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-36005 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-36005 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
            border-color: #ffffff !important;
        }

        #gdlr-core-column-28991 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-28991 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-28991 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
            border-color: #ffffff !important;
        }

        #gdlr-core-column-36559 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-36559 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-36559 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
            border-color: #ffffff !important;
        }

        @@media only screen and (max-width: 767px) {
            #gdlr-core-column-36559 .gdlr-core-pbf-column-content-margin

        {
            padding: 50px 0px 0px 0px !important;
        }

        }

        #gdlr-core-column-63561 .gdlr-core-pbf-column-content-margin:hover, #gdlr-core-column-63561 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-wrap, #gdlr-core-column-63561 .gdlr-core-pbf-column-content-margin:hover .gdlr-core-pbf-background-frame {
            border-color: #ffffff !important;
        }

        @@media only screen and (max-width: 767px) {
            #gdlr-core-column-63561 .gdlr-core-pbf-column-content-margin

        {
            padding-top: 40px !important;
        }

        }

        #gdlr-core-button-id-30826 {
            font-size: 13px;
            color: #edbf2a;
            padding: 13px 30px 13px 30px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-width: 2px 2px 2px 2px;
            border-color: #edbf2a;
        }

            #gdlr-core-button-id-30826:hover {
                border-color: #edbf2a;
            }

        #gdlr-core-title-item-id-87669 .gdlr-core-title-item-title a {
            color: #141414;
        }
    </style><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css">
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="974837571eebcacb5c9a9775-text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type="974837571eebcacb5c9a9775-text/javascript">
        if(typeof revslider_showDoubleJqueryError === "undefined") {
        function revslider_showDoubleJqueryError(sliderID) {
        var err = "<div class='rs_error_message_box'>";
        err += "<div class='rs_error_message_oops'>Oops...</div>";
        err += "<div class='rs_error_message_content'>";
        err += "You have some jquery.js library include that comes after the Slider Revolution files js inclusion.<br>";
        err += "To fix this, you can:<br>&nbsp;&nbsp;&nbsp; 1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on";
        err += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jQuery.js inclusion and remove it";
        err += "</div>";
        err += "</div>";
        var slider = document.getElementById(sliderID); slider.innerHTML = err; slider.style.display = "block";
        }
        }
    </script>
    <script type="974837571eebcacb5c9a9775-text/javascript" id='gdlr-core-page-builder-js-extra'>
        /* <![CDATA[ */
        var gdlr_core_pbf = {"admin":"","video":{"width":"640","height":"360"},"ajax_url":"https:\/\/demo.goodlayers.com\/realfactory\/wp-admin\/admin-ajax.php","ilightbox_skin":"dark"};
        /* ]]> */
    </script>
    <script type="974837571eebcacb5c9a9775-text/javascript" id='wc-add-to-cart-js-extra'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = {"ajax_url":"\/realfactory\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/realfactory\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/demo.goodlayers.com\/realfactory\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
        /* ]]> */
    </script>
    <script type="974837571eebcacb5c9a9775-text/javascript" id='woocommerce-js-extra'>
        /* <![CDATA[ */
        var woocommerce_params = {"ajax_url":"\/realfactory\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/realfactory\/?wc-ajax=%%endpoint%%"};
        /* ]]> */
    </script>
    <script type="974837571eebcacb5c9a9775-text/javascript" id='wc-cart-fragments-js-extra'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = {"ajax_url":"\/realfactory\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/realfactory\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_2a07d1ece60041e3395ab2b3ca26eea5","fragment_name":"wc_fragments_2a07d1ece60041e3395ab2b3ca26eea5","request_timeout":"5000"};
        /* ]]> */
    </script>
    <script type="974837571eebcacb5c9a9775-text/javascript" id='realfactory-script-core-js-extra'>
        /* <![CDATA[ */
        var realfactory_script_core = {"home_url":"https:\/\/demo.goodlayers.com\/realfactory\/"};
        /* ]]> */
    </script>
    <script type="974837571eebcacb5c9a9775-text/javascript" src='https://maps.google.com/maps/api/js?key=AIzaSyD733KCcfQFGTp5SjZ5P9nvUKl6Ir4fYPo&#038;libraries=geometry%2Cplaces%2Cweather%2Cpanoramio%2Cdrawing&#038;language=en&#038;ver=5.5.1' id='wpgmp-google-api-js'></script>
    <script type="974837571eebcacb5c9a9775-text/javascript" id='wpgmp-google-map-main-js-extra'>
        /* <![CDATA[ */
        var wpgmp_local = {"all_location":"All","show_locations":"Show Locations","sort_by":"Sort by","wpgmp_not_working":"Not working...","place_icon_url":"https:\/\/demo.goodlayers.com\/realfactory\/wp-content\/plugins\/wp-google-map-plugin\/assets\/images\/icons\/"};
        /* ]]> */
    </script>
    <script type="974837571eebcacb5c9a9775-text/javascript" id='newsletter-subscription-js-extra'>
        /* <![CDATA[ */
        var newsletter = {"messages":{"email_error":"The email is not correct","name_error":"The name is not correct","surname_error":"The last name is not correct","profile_error":"A mandatory field is not filled in","privacy_error":"You must accept the privacy statement"},"profile_max":"20"};
        /* ]]> */
    </script>
    <script defer src="https://demo.goodlayers.com/realfactory/wp-content/cache/autoptimize/js/autoptimize_01b6565458eb881ecb70bc6687e1b095.js" type="974837571eebcacb5c9a9775-text/javascript"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="974837571eebcacb5c9a9775-|49" defer=""></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    @RenderSection("Scripts", required: false)
    <script>
        $("#subscribe").on('click', function () {
            var newsletterSubscriber = $("#cevrimZamani").val();
            var link = "/Home/NewsEn/";
            $.ajax({
                type: "POST",
                url: link,
                data: { newsletterSubscriber: newsletterSubscriber },
                success: function (result) {
                    alert("Thank you for subscribing to our newsletter!");
                },
                error: function (hata) {
                    alert("Thank you for subscribing to our newsletter!");
                }
            });
        });
    </script>
</body>
</html><!-- WP Fastest Cache file was created in 0.42461514472961 seconds, on 12-10-20 3:02:49 -->