﻿<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">

    <title>Anasayfa | Kapasitematik Admin</title>

    <!-- Bootstrap CSS -->
    <link href="/NiceAdmin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/NiceAdmin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/NiceAdmin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/NiceAdmin/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="/NiceAdmin/css/style.css" rel="stylesheet">
    <link href="/NiceAdmin/css/style-responsive.css" rel="stylesheet" />
    <script src="/ckeditor_4.15.1_standard/ckeditor/ckeditor.js"></script>
    <link href="/ckeditor_4.15.1_standard/ckeditor/contents.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
        <script src="~/Content/NiceAdmin/js/html5shiv.js"></script>
        <script src="~/Content/NiceAdmin/js/respond.min.js"></script>
        <script src="~/Content/NiceAdmin/js/lte-ie7.js"></script>
      <![endif]-->
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <!-- container section start -->
    <section id="container" class="">
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="/Admin/Index" class="logo">Kapasitematik <span class="lite">Admin</span></a>
            <!--logo end-->

            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">

                    <!-- alert notification start-->
                    @*<li id="alert_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="icon-bell-l"></i>
                            <span class="badge bg-important">@ViewBag.YorumOnay</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">Onay Bekleyen @ViewBag.YorumOnay Yorum Bulunmaktadır.</p>
                            </li>
                            <li>
                                <a href="/yorum">Yorumları Onayla</a>
                            </li>
                        </ul>
                    </li>*@
                    <!-- alert notification end-->
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="username">@ViewBag.Name</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <li>
                                <a href="/Login/Logout"><i class="icon_key_alt"></i> Çıkış Yap</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="">
                        <a class="" href="/Admin/Index">
                            <i class="icon_house_alt"></i>
                            <span>Anasayfa</span>
                        </a>
                    </li>
                    @*<li class="">
                            <a class="" href="/Admin/UserList"><i class="fa fa-list" aria-hidden="true"></i> Kullanıcı Listesi</a>
                        </li>*@
                    <li class="">
                        <a class="" href="/makale-listesi"><i class="fa fa-list" aria-hidden="true"></i> Makale Listesi</a>
                        <a class="" href="/ing-makale-listesi"><i class="fa fa-list" aria-hidden="true"></i> İngilizce Makale Listesi</a>
                        @*<a class="" href="/yorum"><i class="fa fa-pencil" aria-hidden="true"></i> Makale Yorumları</a>*@
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header"><i class="fa fa fa-bars"></i> Kapasitematik</h3>
                        <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a href="/Admin/Index">Admin</a></li>
                            <li><i class="icon_document_alt"></i>Anasayfa</li>
                        </ol>
                    </div>
                </div>
                <br /><br />
                <!-- page start-->
                @RenderBody()
                <!-- page end-->
            </section>
        </section>
        <!--main content end-->
    </section>
    <!-- container section end -->
    <!-- javascripts -->
    <script src="/jQuery-3.3.1/jquery-3.3.1.js"></script>
    <!-- javascripts -->
    <script src="/NiceAdmin/js/jquery.js"></script>
    <script src="/NiceAdmin/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="/NiceAdmin/js/jquery.scrollTo.min.js"></script>
    <script src="/NiceAdmin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!--custome script for all page-->
    <script src="/NiceAdmin/js/scripts.js"></script>
    @RenderSection("scripts", required: false)
    <!-- nice scroll -->
    @*<script src="/NiceAdmin/js/jquery.scrollTo.min.js"></script>
        <script src="/NiceAdmin/js/jquery.nicescroll.js" type="text/javascript"></script>*@
    <!--custome script for all page-->


</body>

</html>
