﻿<style>
    p {
        font-size: 15px !important;
    }

        h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, p span {
            color: black;
        }
</style>
<p><strong>İşbu Aydınlatma Beyanının amacı TEZMAKSAN MAKİNA SAN. ve TİC. A.Ş.(“Şirketimiz”) olarak, </strong></p>
<ul class="ulStyls">
    <li><strong>»</strong> Bilgi güvenliğinin sağlanması ve korunması ve etik değerlere saygı öncelikli prensiplerimiz arasında yer almaktadır. </li>
    <li><strong>»</strong> Veri Sorumlusu sıfatı ile siz <strong>ziyaretçilerimizin</strong> kişisel verilerini aşağıda belirtilen amaçlar kapsamında,hukuka ve dürüstlük kurallarına göre kaydedebilecek,saklayabilecek, sınıflandırabilecek, güncelleyebilecek ve mevzuatın elverdiği hallerde işlendikleri amaçla sınırlı olmak kaydıyla ve başta özel hayata ilişkin gizlilik olmak üzere temel hak ve özgürlüklerin korunması için alınan önlemler kapsamında,işleyebilecek ve aktarabileceğiz.</li>
    <li><strong>»</strong> Buna bağlı olarak <strong>Kişisel Verilerin Korunması Kanunu (“KVKK”) 10. Maddesinden doğan</strong> aydınlatma <span class="textUnderline">yükümlülüğümüzü</span> yerine getirmek amacı ile aşağıdaki açıklamalarımız bilgilerinize sunulmaktadır.</li>
    <li>
        <strong>» Veri Sorumlusu:</strong><br>6698 Sayılı Kişisel Verilerin Korunması Kanunu’nda (KVKK) ’da tanımlı şekli ile <strong>“Veri Sorumlusu”</strong> sıfatına haiz olan <strong>TEZMAKSAN MAKİNA SAN. ve TİC. A.Ş. ("Şirketimiz")</strong>, kişisel verilerinizi aşağıda açıklanan amaçlar ve mevzuat tarafından emredilen sınırlar çerçevesinde işlemektedir. <br>
        <strong>Kapsam :</strong><br>
        Şirketimiz tarafından; <span class="textUnderline">web sitemizi  ve sosyal medya hesaplarımızı  ziyaret eden ziyaretçilerimiz ,eposta gönderimi yapılan müşteri/müşteri adayı/ ziyaretçilerimiz, fuar ziyaretçilerimiz ,şirket merkezini ziyaret eden fiziki ziyaretçilerimize ait</span>  <strong>Kişisel Veriler,giriş çıkışlarının takibine yönelik fiziki güvenliğin sağlanması,</strong> internet ağını kullanarak internet hizmeti almak isteyen müşteri ve müşteri adaylarımızın sunulan hizmetlerin izlenebilirliğini ve güvenliğini sağlamak ve takip etmek  , sosyal portallar üzerinden eğitim aldıklarını gösteren fotoğraf ve/veya video çekiminin paylaşılması ve dergi ve broşürlerinde  bilgilendirici paylaşımlarda bulunulması amacı ile gerçekleşen fotoğraf ve/veya video çekimi yapılırken , şirketin, müşterilerin ve diğer kişilerin güvenliğini sağlamak ve müşterilerin aldıkları hizmete ilişkin menfaatlerini korumak gibi amaçlarla ,şirketimiz tarafından (<strong>TEZMAKSAN MAKİNA SAN. ve TİC. A.Ş.</strong>),elektronik, dijital ve teknik kanallar ile otomatik yada otomatik olmayan yollarla <strong>KVKK 5.maddesine uygun olarak toplanmakta, kaydedilmekte ve işlenmektedir.</strong>
    </li>

</ul>
<p><strong class="textUnderline">Web Sitesi ve Sosyal Medya Hesaplarımızı Kullanarak Ziyaret eden Ziyaretçilerimiz,E-Posta Gönderimi Yapılan Müşteri/Müşteri Adayı/ Ziyaretçilerimiz, Fuar Ziyaretçilerimiz ve Fiziki ziyaretçilerimize ait Kişisel Veriler:</strong></p>
<ul class="ulStyls">
    <li><strong>»</strong> Ad Soyad, Adres, Doğum Tarihi, E-posta Adresi,Kurumsal E-Posta Adresi, Ip Adresi, Telefon(ev ve cep) numarası, iletişim bilgileri, vb.Fotoğraf, </li>

    <li><strong>»</strong> Fuar görüşmelerinde tutulan ve kişisel veri içeren notlar,çekilen fotoğraflar,alınan kartvizitlerle elde edilen ad soyad ,telefon,adres,email adres bilgileri,</li>
    <li><strong>»</strong> Çalıştığı şirket, departmanı, çalışma şekli, mesleği, unvanı,</li>
    <li><strong>»</strong> Telekonferans, görüntülü görüşme, telefon gibi araçlarla veya yüz yüze görüşme yapılması durumunda edilen bilgilerin kayıtları,</li>
    <li><strong>»</strong> Güvenlik Kamerası izleme kayıtları (ses kaydı yok), sosyal organizasyonlarda, <strong>TEZMAKSAN MAKİNA SAN. ve TİC. A.Ş.</strong> sosyal medya hesaplarında ve basında kullanılan görsel ve işitsel veriler,</li>
    <li><strong>»</strong><strong class="textUnderline"> Din ve inanç bilgisi, kılık kıyafet, siyasi görüş, dernek üyelikleri,sağlık bilgileri, hobiler vb. kişisel veya özel nitelikli kişisel veriler  <strong>TEZMAKSAN MAKİNA SAN. ve TİC. A.Ş.</strong> tarafından talep edilmemektedir. Kişi tarafından beyan edilen evrak ve dokümanlarda bulunması halinde, herhangi bir değerlendirme ve işleme tabi tutulmayacaktır.</strong></li>

</ul>

<table class="table table-bordered">

    <tbody>
        <tr>
            <th><strong>Kimlik Verisi</strong></th>
            <td>Ad, Soyad ,Adres, kartvizit, Doğum Tarihi, vb.Fotoğraf </td>

        </tr>

        <tr>
            <th><strong>İletişim Verisi</strong></th>
            <td>E-posta adresi,kurumsal e-posta adresi telefon(İş ve cep) numarası,açık adres bilgisi,Şirket içi iletişim bilgileri (dahili telefon numarası.) </td>

        </tr>
        <tr>
            <th><strong>Çalışma Verisi</strong></th>
            <td>Çalıştığı şirket, departmanı, çalışma şekli, mesleği, unvanı</td>

        </tr>
        <tr>
            <th><strong>Görsel ve İşitsel Veriler</strong></th>
            <td>Merkez binası girişi,Firma içi kamera kayıtları,Fuar etkinlik kayıtları,Fuar Ziyaretçileri ile çekilen fotoğraflar,Tanıtım çekimleri ve röportajlar,Fuar görüşme kayıtlarındaki bilgiler.</td>

        </tr>
        <tr>
            <th><strong>İşlem Güvenliği Verisi</strong></th>
            <td>IP Adresi</td>

        </tr>

    </tbody>
</table>

<p><strong class="textUnderline">KİŞİSEL VERİLERİNİN TOPLANMA VE İŞLENME AMAÇLARI ; </strong></p>
<p><strong>Şirketimiz  tarafından kişisel verileriniz aşağıda belirtilen amaç ve hukuki sebepler gibi ancak bunlarla sınırlı olmayan benzer amaç ve sebeplerle işlenebilir:</strong></p>
<p><strong class="textUnderline">İlgili mevzuat ile, diğer kanunlar ve mevzuat kapsamında Şirket içerisinde güvenliğin sağlanması amacıyla özellikle;</strong></p>

<ul class="ulStyls">
    <li><strong>»</strong> Kurumsal iletişim ve kurumsal yönetim faaliyetlerinin planlanması ve yürütülmesi, bilgi güvenliği yönetimi hizmetlerinin yürütülmesi,</li>
    <li><strong>»</strong> İlgili mevzuatın gerektirdiği veya zorunlu kıldığı şekilde yasal yükümlülüklerin yerine getirilmesini sağlamak amacıyla; </li>
    <li><strong>»</strong> Mevzuat, ilgili düzenleyici kurumlar ve diğer otoritelerce öngörülen diğer bilgi saklama, raporlama, bilgilendirme yükümlülüklerine uymak,</li>
    <li><strong>»</strong> Şirket merkez binasına,çalışanın giriş çıkışlarında güvenliğin sağlanması, Şirket içerisinde güvenliğin sağlanması gibi benzer yasal yükümlülüklerin yerine getirilebilmesi amacı ile,</li>

</ul>
<p><strong class="textUnderline">Müşteri sözleşmelerinin ifasından doğan yükümlülük nedeniyle özellikle;</strong></p>
<ul class="ulStyls">
    <li><strong>»</strong> Müşteri şikayetlerinin azaltılması, müşteri memnuniyetinin arttırılması, müşteri ihtiyacının anlaşılması ve müşteri ile ilişkili süreçlerin iyileştirilmesinin sağlanması,</li>
    <li><strong>»</strong> Müşteriye hizmet kalitesinin değerlendirilmesi ve çalışanlara eğitim verilmesi, gibi benzer yasal yükümlülüklerin yerine getirilebilmesi amacı ile,</li>
    <li><strong>»</strong> Şirket'in ve Şirket'le iş ilişkisi içerisinde olan kişilerin hukuki, teknik ve ticari-iş güvenliğinin temin edilmesi, </li>
    <li><strong>»</strong> Şirketimizin internet sitesinde gezinmeniz esnasında size ürünün niteliği ve coğrafi yakınlık bazlı tavsiyelerde bulunabilmek ve onay vermiş olmanız halinde tarafınıza ürün ve hizmetlerimiz hakkında size kampanyalar hakkında bilgilendirici duyurular gerçekleştirmek,</li>
    <li><strong>»</strong> Şirketimiz nam ve hesabına sunulan ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve/veya icrası,</li>

</ul>

<p><strong class="textUnderline">Şirketin yönetimi, işin yürütülmesi, şirket politikalarının uygulanması amacıyla, özellikle;</strong></p>
<ul class="ulStyls">
    <li><strong>»</strong> Ziyaretçi verilerinin değerlendirilmesi, mevcut verilerin güncellenmesi</li>
    <li><strong>»</strong> Müşteri ve potansiyel müşterilerle iletişimin sağlanması,</li>
    <li>
        <strong>»</strong> Müşteri Memnuniyet anketi ve analizlerinin  yapılarak ,süreç iyileştirmelerinin yapılması<br>
        Amacı ile,Kişisel verileriniz, Şirketimiz tarafından yürütülen ,Vergi Levhamızda ve Ticaret Sicil Gazetesinde belirtilen ve yukarıdaki başlıklarda örneklediğimiz operasyonel ve ticari faaliyetlerimizin gerçekleştirilmesi,Şirketimiz meşru menfaatleri kapsamındaki faaliyetleri verimli olarak yürütecek şekilde ,<strong class="textUnderline">KVKK’nın 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde ve bu amaçlarla sınırlı olarak toplanmakta ve işlenmektedir.</strong>
    </li>

</ul>
<p><strong class="textUnderline">Kişisel Verilerinizin Yurt İçindeki Üçüncü Kişilerle Paylaşılması</strong></p>
<ul class="ulStyls">
    <li><strong>»</strong> Toplanan kişisel verileriniz, yukarıda belirtilen amaçlarla kanunen yetkili kamu/özel kurum ve kuruluşlarına, Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde ve Politika’da belirtilen amaçlarla sınırlı olarak aktarılabilecektir.</li>
    <li><strong>»</strong> Şirketimizin yasalar gereği yükümlülüklerini ifa etmesi ve sizin de güvenliğinizi sağlayabilmek amacı ile  kişisel verileriniz, 6698 Sayılı Kişisel Verilerin Korunması Kanunu ve fakat bununla sınırlı olmamak üzere sair mevzuat hükümleri izin verdiği ve gerektirdiği ölçüde  ,Çözüm Ortaklarımızla , iş ortaklarımızla ve tedarikçilerimizle, Kişisel Verileri Koruma Kurumu, Maliye Bakanlığı, Gümrük ve Ticaret Bakanlığı, Çalışma ve Sosyal Güvenlik Bakanlığı, Türkiye İş Kurumu , Bilgi Teknolojileri ve İletişim Kurumu gibiilgili Kamu Kurum ve kuruluşları ve kamu tüzel kişileri ile paylaşılabilir. </li>
</ul>

<p><strong>Ayrıca kişisel verileriniz;</strong></p>
<ul class="ulStyls">
    <li><strong>»</strong>	İş sözleşmesinin ifası için gerekli amacın yerine getirilmesi,</li>
    <li>
        <strong>»</strong> Hukuki yükümlülüklerimizi yerine getirmek amacı ile;<br>
        Şirket avukatlarımıza ve hukuka ve usule uygun olması koşuluyla mahkeme kararı veya delil talebi gibi hukuki talepleri yerine getirme yükümlülüğümüz çerçevesinde ilgili kurumlarla paylaşılmaktadır.
    </li>
    <li><strong>»</strong> Şirketin idaresi, işin yürütülmesi, şirket politikalarının uygulanması amacı ile ,özellikle;Bağlı olduğumuz veya ortaklaşa çalıştığımız şirketler ile iç işleyişimizi sağlamak açısından söz konusu şirketlere aktarılabilmektedir.</li>

</ul>
<p>Kişisel verileriniz, <span class="textUnderline">yukarıda belirtilen amaçların yerine getirilebilmesi ve veri güvenliğinizin sağlanması içjin gerektirdiği ölçüde ve bu amaçla sınırlı olmak kaydıyla</span> gerekli tüm tedbirler ve (gerekmesi halinde) kişinin açık rızası Şirketimizce alınarak, <strong class="textUnderline">KVKK’nın 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde aktarılabilmektedir.Ayrıca, kişisel veriler, yasal mevzuat gereği bu verileri talep etmeye ve almaya yetkili olan kamu kurum ve kuruluşları ile de paylaşılabilmektedir.</strong></p>

<p><strong>Kişisel Verilerinizin Yurt Dışındaki Üçüncü Kişilerle Paylaşılması</strong></p>
<p>
    Kişisel verileriniz,  <span class="textUnderline"><strong class="textUnderline">ihracat faaliyetleri,fuar ,eğitim,iş gezisi amaçlı yurt dışı seyahatlerinde</strong> Şirketimiz nam ve hesabına sunulan <strong class="textUnderline">ürün ve hizmetlerin ilgili kişilerin beğeni, kullanım alışkanlıkları</strong> ve ihtiyaçlarına göre özelleştirilerek ilgili kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve/veya icrası,<strong class="textUnderline">iletişim sağlanması, seyahat organizasyonunun yapılması ve  e-posta gönderimlerinin yapılabilmesi için</strong>, </span> veya dolaylı olarak yurtiçi ve yurtdışındaki iş ortaklarımız, tedarikçilerimiz, sosyal paylaşım siteleri ile <strong class="textUnderline">KVKK’nın 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde</strong> yurt dışındaki üçüncü kişilerle paylaşılabilmektedir.
</p>
<p><strong>Kişisel Verilerin Toplanma Yöntemi </strong></p>
<ul class="ulStyls">
    <li><strong>»</strong> Kişisel veriler, şirketimiz tarafından sözlü, yazılı ve/veya elektronik yollarla toplanmakta, kullanılmakta, kaydedilmekte, depolanmakta ve işlenmektedir.</li>
    <li><strong>»</strong> Kişisel Verileriniz, Şirket'e yaptığınız yukarıda yer alan amaçların gerçekleştirilmesi için Şirket tarafından <span class="textUnderline">fiziki ortamda, matbu formlar, tarafımıza iletmiş olduğunuz resmi belgeler üzerinden; elektronik ortamda ise e-mailler, cep telefonu uygulamaları, çağrı merkezi, web sitelerimiz, sosyal medya hesapları, fuar görüşmelerinde tutulan notlar ve kartvizit alınması sureti ile , şirketimizin faaliyetlerine özgülenmiş olan yazılımlar, online iletişim formları ve şirketimizin iş birliği içerisinde olduğu iş ortakları üzerinden toplanmaktadır.</span> </li>
    <li><strong>»</strong> Aynı zamanda fiziki ortamda şirketimizde bulunan <span class="textUnderline">güvenlik kameraları ile ses ve görüntü elde edilmesi yoluyla Şirketimizin ve Şirketimizle iş ilişkisi içerisinde olan kişilerin hukuki ve ticari güvenliğini sağlamaya yönelik yükümlülüklerimizi yerine getirmek hukuki sebebiyle toplanmaktadır.</span></li>

</ul>

<p><strong>Kişisel Verilerin Saklanma Süresi,Silinmesi,Yok Edilmesi veya Anonim Hale Getirilmesi</strong></p>
<p>Kişisel verileriniz, ilgili yasal mevzuatlarda belirtilen saklama sürelerince (ilgili yasal mevzuatlarda herhangi bir süre belirlenmemişse, <span class="textUnderline">Şirketimizin uygulamaları ve ticari yaşamının teamülleri uyarınca veya yukarıda anılan işleme amaçlarının gerekli kıldığı süre boyunca) saklanmakta ve sonrasında KVKK’ya uygun olarak silinmekte, yok edilmekte ya da anonim hale getirilmektedir.Ayrıntılar <strong class="textUnderline">TEZMAKSAN MAKİNA SAN. ve TİC. A.Ş. Kişisel Verilerin Saklanması ve İmhası Politikasında</strong> açıklanmıştır.</span></p>
<p>Ziyaretçi (Web ziyaretçisi,Fiziki Ziyaretçi,Fuar Ziyaretçisi,Sosyal medya ziyaretçileri)  olarak firmamızla paylaştığınız ve otomatik yada manuel olarak elde edilen kişisel verileriniz yukarıdaki prensipler  ve amaçlar doğrultusunda işlenme amaçları doğrultusunda amaçla sınırlı olarak saklanacaktır. Kişisel verileriniz <strong>TEZMAKSAN MAKİNA SAN. ve TİC. A.Ş.</strong> ,tarafından işlenme amacı sona erdikten  veya talebiniz üzerine;  Kişisel Verilerin Korunması Kanunu ve ilgili yönetmelikler kapsamındaki yöntemler ile silinecek, yok edilecek ve/veya anonim halegetirilecektir.</p>

<p><strong>Kişisel Verilerinizin Güvenliği</strong></p>
<p>Kişisel verilerinizin işlendikleri ve saklandıkları ortamlarda yetkisiz erişime maruz kalmamaları, kaybolmamaları ve zarar görmemelerini sağlamak amacıyla, 6698 Sayılı Kişisel Verilerin Korunması Kanunu kapsamında, <span class="textUnderline">Kişisel Verileri Koruma Kurulu tarafından yayımlanmış Kişisel Verilerin Güvenliğine dair teknik ve idari tedbirlerin gereklilikleri düzenli olarak gözden geçirilmekte ve şirketimiz tarafından bu şartlar sağlanmaktadır.</span></p>


<p><strong>Kişisel Veri Sahibi Olarak Haklarınız :</strong></p>
<p><strong>KVKK’nın 11. maddesi uyarınca herkes, veri sorumlusuna başvurarak kendisiyle ilgili; </strong></p>
<ul class="ulStyls">
    <li><strong>a)</strong> Kişisel veri işlenip işlenmediğini öğrenme,</li>
    <li><strong>b)</strong> Kişisel verileri işlenmişse buna ilişkin bilgi talep etme, </li>
    <li><strong>c)</strong> Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme, </li>
    <li><strong>ç)</strong> Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme, </li>
    <li><strong>d)</strong> Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme, </li>
    <li><strong>e)</strong> 7 nci maddede öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme, </li>
    <li><strong>f)</strong> (d) ve (e) bentleri uyarınca yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, </li>
    <li><strong>g)</strong> İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme, </li>
    <li><strong>ğ)</strong> Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme, haklarına sahiptir.</li>
</ul>

<p><strong class="textUnderline">Kişisel Veri Sahibinin Hakları İle İlgili Başvuru Yöntemleri</strong></p>

<p>KVKK’nın 13. maddesinin 1. fıkrası gereğince, yukarıda belirtilen haklarınızı kullanmak ile ilgili talebinizi, 10 Mart 2018 tarih ve 30356 Sayılı Resmi Gazete’de yayımlanmış <strong class="textUnderline">“Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğ’ e ”</strong> istinaden aşağıdaki yöntemler ve bilgiler ile gerçekleştirebilirsiniz.</p>

<p>Yazılı olarak Şirketimize yapılacak başvurular, web sitemizden ulaşabileceğiniz <strong class="textUnderline"><a target="_blank" href="/content/pdf/kvkk-basvuru-formu.pdf">TEZMAKSAN MAKİNA SAN. ve TİC. A.Ş. KVKK Aydınlatma Başvuru Formu’</a></strong> nun çıktısı alınarak;</p>
<ul class="ulStyls">
    <li><strong>»</strong> Başvuru Sahibi’nin şahsen başvurusu ile, </li>
    <li><strong>»</strong> Noter vasıtasıyla, </li>
    <li><strong>»</strong> Başvuru Sahibi’nce 5070 Sayılı Elektronik İmza Kanununda tanımlı olan “güvenli elektronik imza” ile imzalanarak aşağıda verilen elektronik posta adresine gönderilmek suretiyle, tarafımıza iletilebilecektir.</li>
    <li><strong>»</strong> İlgili kişi/müşteri tarafından veri sorumlusuna daha önce bildirilen ve veri sorumlusunun sisteminde kayıtlı veri sorumlusunun sisteminde kayıtlı bulunan elektronik posta adresini kullanmak suretiyle yapılabilir.</li>

</ul>
<table class="table table-bordered" style="font-size: 13px;">
    <thead>
        <tr>
            <th>Başvuru Yöntemi</th>
            <th>Başvurunun Yapılacağı Adres</th>
            <th>Başvuru Gönderiminde Belirtilecek Bilgi</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Şahsen Başvuru (Başvuru sahibinin bizzat gelerek kimliğini tevsik edici belge ile başvurması)<hr>Noter vasıtasıyla tebligat/Yazılı olarak İadeli Taahhütlü Posta ile Başvuru Usulü ile</td>
            <td>
                <strong>TEZMAKSAN MAKİNA SANAYİ VE TİCARET ANONİM ŞİRKETİ</strong><br>
                MERSİS NO:0842002469500011<br>
                Abdi İpekçi Cad. N:129 <br>
                <strong>Bayrampaşa/İSTANBUL</strong>
            </td>
            <td>Zarfın üzerine “Kişisel Verilerin Korunması Kanunu Kapsamında Bilgi Talebi” yazılacaktır.<hr>Zarfın üzerine “Kişisel Verilerin Korunması Kanunu Kapsamında Bilgi Talebi” yazılacaktır.</td>

        </tr>

        <tr>
            <td>“Güvenli elektronik imza” ile imzalanarak Kayıtlı Elektronik Posta (KEP) Yoluyla</td>
            <td>
                <span class="textUnderline">TEZMAKSAN KEP ADRESİ:</span><br>
                <strong>tezmaksanmakina@hs01.kep.tr</strong>
            </td>
            <td>E-posta’nın konu kısmına “Kişisel Verilerin Korunması Kanunu Bilgi Talebi” yazılacaktır.</td>

        </tr>
        <tr>
            <td>İlgili kişi/müşteri tarafından veri sorumlusuna daha önce bildirilen ve <span class="textUnderline">veri sorumlusunun sisteminde kayıtlı bulunan elektronik posta adresini kullanmak suretiyle</span></td>
            <td>
                <strong class="textUnderline">bilgi@tezmaksan.com.tr</strong>

            </td>
            <td>E-posta’nın konu kısmına “Kişisel Verilerin Korunması Kanunu Bilgi Talebi” yazılacaktır.</td>

        </tr>


    </tbody>
</table>
<p><strong class="textUnderline">Tüm başvuru yöntemlerinde ,başvurucuya ait şu bilgiler bulunmalıdır:</strong></p>
<p>Ad, soyad ve imza,Türkiye Cumhuriyeti vatandaşları için T.C. kimlik numarası, yabancılar için uyruğu, pasaport numarası veya varsa kimlik numarası, Tebligata esas yerleşim yeri veya iş yeri adresi, Varsa bildirime esas elektronik posta adresi, telefon ve faks numarası, Talep konusu. </p>
<p><strong class="textUnderline">Ad-Soyad-TC :	</strong></p>
<p><strong class="textUnderline">İmza :	</strong></p>