﻿
@{
    ViewData["Title"] = "Aydınlatma Beyanı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .textUnderline {
        text-decoration: underline;
        color: black;
    }

    .ulStyls {
        list-style-type: none;
        padding-left: 0px;
        padding-right: 0px;
    }

    @@media only screen and (max-width: 770px) {
        .table-bordered {
            font-size: 12px !important;
        }

        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            font-size: 12px;
        }
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 1px !important;
    }

    .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
        font-weight: 600;
    }

    .table > tbody > tr > th {
        font-weight: 600;
    }
</style>
<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <br /><br />
                                    <p style="font-weight:bold;">AYDINLATMA BEYANI</p>
                                    @{

                                        await Html.RenderPartialAsync("_webSitesiSosyalMedyaAydinlatmaBeyani");
                                    }

                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

