﻿@model ViewModel
@using PagedList.Core.Mvc; 
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
@*<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="gdlr-core-page-builder-body">*@
        <div class="gdlr-core-pbf-section">
            <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                <div class="gdlr-core-pbf-element">
                    <br /><br /><br /><br /><br />
                    <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-column" style="padding-bottom: 40px ;">
                        <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                            @foreach (var item in Model.Article)
                            {
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20 ">
                                    <div class="gdlr-core-blog-grid ">
                                        <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                            <a href="/Home/BlogDetay/@item.Id">
                                                <img src="@item.ResimUrl" width="800" height="570" srcset="@item.ResimUrl 400w, @item.ResimUrl 600w, @item.ResimUrl 800w" sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px" alt="" style="height:251.74px;">
                                            </a>
                                        </div>
                                        <div class="gdlr-core-blog-grid-content-wrap">
                                            <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                    <span class="gdlr-core-head">
                                                        <i class="fa fa-clock-o"></i>
                                                    </span>
                                                    <a href="#">@item.Tarih.ToShortDateString()</a>
                                                </span>
                                                @*<span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author">
                                        <span class="gdlr-core-head">
                                            <i class="icon_documents_alt"></i>
                                        </span>
                                        <a href="https://demo.goodlayers.com/realfactory/author/superuser/" title="Posts by John Smith" rel="author">John Smith</a>
                                    </span>*@
                                            </div>
                                            <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 24px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                <a href="/Home/BlogDetay/@item.Id">@item.Baslik</a>
                                            </h3>
                                            <div class="gdlr-core-blog-content clearfix">
                                                @Html.Raw(item.Icerik.Substring(0, 165))...
                                                <div class="clear"></div>
                                                <a class="gdlr-core-excerpt-read-more" href="/Home/BlogDetay/@item.Id">
                                                    Devamını Oku
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*</div>
</div>*@



