﻿@model ViewModel
@{
    ViewData["Title"] = "Blog Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="realfactory-page-title-wrap  realfactory-style-custom realfactory-left-align">
        <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
        <div class="realfactory-page-title-overlay"></div>
        <div class="realfactory-page-title-container realfactory-container">
            <div class="realfactory-page-title-content realfactory-item-pdlr">
                <h1 class="realfactory-page-title">@Model.Makale.Baslik</h1>
                @*<div class="realfactory-page-caption">Caption aligned here</div>*@
            </div>
        </div>
    </div>
    <!--<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url(//demo.goodlayers.com/realfactory/wp-content/themes/realfactory/css/../images/page-title-background.jpg) ;">
        <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
        <div class="realfactory-blog-title-overlay"></div>
        <div class="realfactory-blog-title-container realfactory-container">
            <div class="realfactory-blog-title-content realfactory-item-pdlr">
                <header class="realfactory-single-article-head clearfix">
                    <div class="realfactory-single-article-date-wrapper">
                        <div class="realfactory-single-article-date-day">@Model.Makale.Tarih.Day</div>
                        <div class="realfactory-single-article-date-month">@Model.Makale.Tarih.Month</div>
                    </div>
                    <div class="realfactory-single-article-head-right">
                        <h1 class="realfactory-single-article-title">@Model.Makale.Baslik</h1>
                        <div class="realfactory-blog-info-wrapper">
                            <div class="realfactory-blog-info realfactory-blog-info-font realfactory-blog-info-category">
                                <span class="realfactory-head">
                                    <i class="fa fa-folder"></i>
                                </span>
                                <a href="#" rel="tag">Blog</a>
                            </div>-->
    @*<div class="realfactory-blog-info realfactory-blog-info-font realfactory-blog-info-comment-number">
            <span class="realfactory-head">
                <i class="fa fa-comments"></i>
            </span>@Model.Yorum.Count()
        </div>*@
    <!--</div>
                    </div>
                </header>
            </div>
        </div>
    </div>-->
    <div class="realfactory-breadcrumbs">
        <div class="realfactory-breadcrumbs-container realfactory-container">
            <div class="realfactory-breadcrumbs-item realfactory-item-pdlr">
                <!-- Breadcrumb NavXT 6.6.0 -->
                <span property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" title="Go to Real Factory." href="#" class="home">
                        <span property="name">Anasayfa</span>
                    </a>
                    <meta property="position" content="1">
                </span>
                <i class="fa fa-angle-right"></i>
                <span property="itemListElement" typeof="ListItem">
                    <a property="item" typeof="WebPage" title="Go to the Blog category archives." href="#" class="taxonomy category">
                        <span property="name">Blog</span>
                    </a>
                    <meta property="position" content="2">
                </span>
                <i class="fa fa-angle-right"></i>
                <span property="itemListElement" typeof="ListItem">
                    <span property="name">@Model.Makale.Baslik</span>
                    <!--<meta property="position" content="Model.Yorum.Count()">-->
                </span>
            </div>
        </div>
    </div>
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1714" class="post-1714 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-nature tag-news">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>@Html.Raw(Model.Makale.Icerik)</p>
                                </div>
                            </div><!-- realfactory-single-article -->
                        </article><!-- post-id -->
                    </div>
                    <div class="realfactory-page-builder-wrap realfactory-item-rvpdlr">
                        <div class="gdlr-core-page-builder-body"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="realfactory-single-nav-area clearfix">
                        <span class="realfactory-single-nav realfactory-single-nav-left">
                            <a href="/blog" rel="prev">
                                <i class="fa fa-arrow-left"></i>
                                <span class="realfactory-text">Bloglara Dön</span>
                            </a>
                        </span>
                    </div>
                    <!--<div id="comments" class="realfactory-comments-area">
                        <div class="realfactory-comments-title">Model.Yorum.Count() Yorum</div>
                        <ol class="comment-list">
                            foreach (var item in Model.Yorum)
                            {
                                <li class="comment byuser comment-author-superuser bypostauthor even thread-even depth-1" id="li-comment-9">
                                    <article id="comment-9" class="comment-article">
                                        <div class="comment-body">
                                            <header class="comment-meta">
                                                <div class="comment-author realfactory-title-font">item.AdSoyad</div>
                                            </header>
                                            <section class="comment-content">
                                                <p>Html.Raw(item.Icerik)</p>
                                            </section>-->
                    <!-- comment-content -->
                    <!--</div>--><!-- comment-body -->
                    <!--</article>--><!-- comment-article -->
                    <!--</li>
                        }
                    </ol>
                    <div>
                        <h4 id="" class="">
                            Yorum Yap
                            <small>
                                <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;"></a>
                            </small>
                        </h4>
                        <div class="row">
                            <div class="col-lg-8">
                                <textarea id="Icerik" name="Icerik" placeholder="Yorumunuz*" class="form-control"></textarea>
                                <br />
                                <input id="AdSoyad" name="AdSoyad" type="text" placeholder="Ad Soyad*" class="form-control">
                                <br />
                                <input id="Eposta" name="Eposta" type="text" placeholder="Email*" class="form-control">
                                <br />
                                <input name="submit" type="button" id="gonder" class="submit" value="Yorum Yap">
                                <br /><br />
                            </div>
                        </div>
                    </div>-->
                    <!-- #respond -->
                    <!--</div>--><!-- realfactory-comments-area -->
                </div>
            </div>
            <div class=" realfactory-sidebar-right realfactory-column-20 realfactory-line-height realfactory-line-height">
                <div class="realfactory-sidebar-area realfactory-item-pdlr" style="min-height: 3902px;">
                    <div id="gdlr-core-recent-portfolio-widget-2" class="widget widget_gdlr-core-recent-portfolio-widget realfactory-widget">
                        <h3 class="realfactory-widget-title">Son Blog Kayıtları</h3>
                        <div class="gdlr-core-recent-portfolio-widget-wrap clearfix">
                            <partial name="BlogKayitPartial" />
                        </div>
                    </div>
                    <div id="recent-comments-3" class="widget widget_recent_comments realfactory-widget">
                        <h3 class="realfactory-widget-title">Son Yorumlar</h3>
                        <ul id="recentcomments">
                            <partial name="BlogYorumPartial" />
                        </ul>
                    </div>
                    <div id="tag_cloud-2" class="widget widget_tag_cloud realfactory-widget">
                        <h3 class="realfactory-widget-title">Etiketler</h3>
                        <div class="tagcloud">
                            <partial name="BlogEtiketPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#gonder").click(function () {
                var adisoyadi = $("#AdSoyad").val();
                var epostasi = $("#Eposta").val();
                var yorumu = $("#Icerik").val();
                $.ajax({
                    url: '/Home/YorumYap',
                    data: {
                        AdSoyad: adisoyadi,
                        Eposta: epostasi,
                        Icerik: yorumu,
                        articleId: @Model.Makale.Id 
                    },
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        alert("Yorumunuz eklendi, kontrol edildikten sonra yayınlanacaktır.");
                        window.location.href = '/blog';
                    },
                    error: function () {

                    }
                });
            });
        });
    </script>
}


