﻿@model ViewModel
@foreach (var item in Model.Articles)
{
    <li class="recentcomments">
        <span class="comment-author-link">@ViewBag.Name</span>
        <a href="https://demo.goodlayers.com/realfactory/the-surfing-man-will-blow-your-mind/#comment-25">
            @item.Baslik
        </a>
    </li>
}
