﻿@model ViewModel
@foreach (var item in Model.Articles)
{
    <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
        <a href="/Home/BlogDetay/@item.Id">
            <img src="@item.ResimUrl" alt="@item.Baslik" width="150" height="150" title="pexels-photo-109915" style="width:80px;height:80px;">
            <span class="gdlr-core-image-overlay ">
                <i class="gdlr-core-image-overlay-icon  gdlr-core-size-15 icon_link_alt"></i>
            </span>
        </a>
    </div>
}
