﻿@model Kapasitematik.Models.Mail
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " style="padding: 60px 0px 100px 0px;">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #f5f5f5 ;"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-40 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 50px 20px 0px 20px;">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 15px ;">
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 26px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                Bizimle İletişime Geçin <span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                        <div class="gdlr-core-divider-container" style="max-width: 270px ;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-width: 2px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 25px ;">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;">
                                            <p>Sorunuz mu var ? Bize yazın, En kısa sürede size dönüş yapacağız.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-contact-form-7-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                        <div class="wpcf7">
                                            <div class="screen-reader-response" role="alert" aria-live="polite"></div>
                                            @*@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                                            {*@
                                        <form method="post" action="/iletisim">
                                            <div class="gdlr-core-input-wrap gdlr-core-large gdlr-core-full-width gdlr-core-with-column gdlr-core-no-border">
                                                <div class="gdlr-core-column-60">
                                                    <span class="wpcf7-form-control-wrap your-name">
                                                        <input type="text" asp-for="Name" id="name" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="İsim*">
                                                    </span>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="gdlr-core-column-60">
                                                    <span class="wpcf7-form-control-wrap your-email">
                                                        <input type="email" asp-for="Email" id="email" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-Posta Adresi*">
                                                    </span>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="gdlr-core-column-60">
                                                    <span class="wpcf7-form-control-wrap your-message">
                                                        <textarea asp-for="Message" id="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Mesaj*"></textarea>
                                                    </span>
                                                </div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                                                    <small>
                                                        <input type="hidden" name="kvkk_itsm_rslr" id="kvkk_itsm_rslr" value="false" />
                                                        <input name="Kvkk_Onay" id="Kvkk" type="checkbox" class="email kvkkonay_iltsim">  Kişisel Verilerin Korunması amacıyla <a href="/aydinlatma-beyani" target="_blank">Aydınlatma Beyanını</a> okudum.
                                                    </small>

                                                    <label class=""></label>

                                                </div>
                                                @*<input type="text" class="d-none" name="form-anti-honeypot" value="">*@
                                                <div id="success"></div>
                                                <div class="input-field" data-animate="fadeInUp" data-delay=".6">
                                                    <div class="g-recaptcha" data-sitekey="6LfWxuAZAAAAAAm1ODKPMKZU_bZuz_A12VWovDyx"></div>
                                                </div>

                                                <div class="gdlr-core-column-60 gdlr-core-left-align" style="margin-top:10px;">
                                                    <input type="submit" value="Gönder" class="form-control iltsm_gndr" id="myButton" style="border-radius:5px;"><span class="ajax-loader"></span>
                                                </div>
                                            </div>
                                        </form>
                                                
                                            @*}*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 50px 20px 0px 20px;">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 15px ;">
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 23px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                İletişim<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                        <div class="gdlr-core-divider-container" style="max-width: 135px ;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-width: 2px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 0px ;">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;">
                                            <p>Abdi İpekçi Caddesi No:129, 34040 Bayrampaşa / İSTANBUL</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix  gdlr-core-left-align">
                                        <ul>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-envelope-o" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-envelope-o" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">kapasitematik@tezmaksan.com</span>
                                                </div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-phone" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-phone" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">0212 674 60 10</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 15px ;">
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 23px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">
                                                Lokasyon<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                        <div class="gdlr-core-divider-container" style="max-width: 45px ;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-width: 2px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-wp-google-map-plugin-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 0px ;">
                                        <div class="wpgmp_map_container wpgmp-map-2" rel="map2">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3009.2072896439904!2d28.911597399999998!3d41.0425958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caba7c86e31d91%3A0xb738e730a78e6c00!2sTezmaksan%20Makina!5e0!3m2!1str!2str!4v1604232449258!5m2!1str!2str" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 75px 0px 75px 0px;" data-skin="Dark">
            <div class="gdlr-core-pbf-background-wrap" style="background-color: #2b2b2b ;"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8" style="">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 0px ;">
                            <a href="mailto:kapasitematik@tezmaksan.com" target="_blank" class="gdlr-core-social-network-icon" title="email" style="font-size: 20px ;">
                                <i class="fa fa-envelope"></i>
                            </a>
                            <a href="https://tr-tr.facebook.com/TezmaksanAS/" target="_blank" class="gdlr-core-social-network-icon" title="facebook" style="font-size: 20px ;margin-left: 37px ;">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/tezmaksan" target="_blank" class="gdlr-core-social-network-icon" title="linkedin" style="font-size: 20px ;margin-left: 37px ;">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="https://twitter.com/tezmaksanmakina" target="_blank" class="gdlr-core-social-network-icon" title="twitter" style="font-size: 20px ;margin-left: 37px ;">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

@*@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        $(document).ready(function () {
            $("#myButton").click(function () {
                var language = "TR";
                $.ajax({
                    type: "POST",
                    url: "/Home/Contact",
                    data: {
                        "Name": $("#name").val(),
                        "Email": $("#email").val(),
                        "Message": $("#message").val(),
                        "language": language
                    },
                    success: function (response) {
                        $('#success').html("<div class='alert alert-success'>");
                        $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;")
                            .append("</button>");
                        $('#success > .alert-success')
                            .append("<strong>Your message has been sent. </strong>");
                        $('#success > .alert-success')
                            .append('</div>');

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>
}*@

