﻿
@{
    ViewData["Title"] = "Cookie Policy";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}

<style>


    @@media only screen and (max-width: 770px) {
        .table-bordered {
            font-size: 6px !important;
        }

        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            font-size: 6px;
        }
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 1px !important;
    }

    .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
        font-weight: 600;
    }

    .table > tbody > tr > th {
        font-weight: 600;
    }
</style>
<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <br /><br />
                                    <p style="font-weight:bold;">COOKIE POLICY</p>


                                    <p>Tezmaksan uses cookies in order to enable visitors to experience the website better, as is the case with many other websites.</p>
                                    <p>This Cookie Policy is intended to inform you, the visitor(s) of Tezmaksan’s website (cubeboxautomation.com) about the definition of the cookies used on our site, the types of cookies and how to manage the preferences of cookies.If you turn the cookie usage warning on the website  or if you continue to use the website, you will be considered to have approved the cookies.</p>
                                    <p>If you do not agree to the use of cookies, please discontinue the website or change your browser preferences in your browser. Please note that some features of the website may lose functionality if cookies are not allowed.</p>
                                    <h3 style="text-align:left;">What is a cookie?</h3>
                                    <p>A cookie is a small text file that is stored on your computer or mobile device when you visit a website. These files will store your IP address, session information, pages you have accessed, and so on. Cookies do not include data such as first and last name or address. Cookies can remember your website preferences, keep you logged in, or provide you with the content you are interested in. </p>

                                    <p>For more information about cookies, visit www.aboutcookies.org and www.allaboutcookies.org.</p>


                                    <h3 style="text-align:left;">Cookie Types and Intended Purpose</h3>
                                    <p><strong>Session Cookies :</strong> Session cookies are temporary cookies that are deleted from your device after you close the browser. The main function of these cookies is to ensure the proper functioning of the website.</p>

                                    <p><strong>Persistent Cookies :</strong> Persistent cookies will remain on your device after you close the browser, until they are deleted by yourself or expired automatically.</p>
                                    <p><strong>First-party :</strong> First-party cookies are cookies placed on the device by the visited website operator. </p>
                                    <p><strong>Third-party cookies :</strong> Third-party cookies are cookies placed on and controlled by parties other than the visited website operator. YouTube is used on our website to provide you with more information about our organization. YouTube may place Cookies on your computer if you watch videos embedded on pages from YouTube. We have no control over third party cookies. Please visit the relevant third-party website for more information about these cookies and how to manage them. </p>

                                    <h3 style="text-align:left;">Mandatory Cookies</h3>

                                    <p>Use of certain cookies is mandatory for our site to function properly. For example, the authentication cookies that are activated when you log on to our site allow you to continue your active session when you switch from one page to another on our site. </p>

                                    <h3 style="text-align:left;">Functionality and Preference Cookies</h3>
                                    <p>These cookies allow you to personalize the services offered on our site by remembering your preferences and choices on the site. For example, it allows us to remember your choice of language on our site or the font size you selected when reading a text.</p>

                                    <h3 style="text-align:left;">Social Media Cookies</h3>
                                    <p>These cookies collect information about your social media usage. For example, cookies may be used to use the information of your Facebook / Twitter accounts to create personalized ads or conduct market research. </p>

                                    <h3 style="text-align:left;">Performance and Analysis Cookies</h3>

                                    <p>Thanks to these cookies, we can improve your services by analyzing your usage and performance of our site. For example, with these cookies, we can determine which pages our visitors view the most, whether our site is working properly and if there are any potential technical issues.</p>

                                    <h3 style="text-align:left;">Targeting or Advertising Cookies</h3>
                                    <p>We use cookies to promote products and services on our website or in other media. We may also cooperate with some of our business partners for advertising and promotion on or off our website. For example, cookies can be used to track whether you clicked on an ad that you see on our site, and if you are interested in the service on the site to which that ad redirects. </p>

                                    <h3 style="text-align:left;">How Long Will Cookies Be Stored?</h3>

                                    <p>
                                        We will not store cookies longer than the purpose for which the cookie was placed. Most of the cookies we use are "Session Cookies," which means they will be deleted as soon as you close your browser. Some cookies may be stored for longer periods of time (such as those placed so that you can remember your user login information preferred language options, or other options when you ask us to remember them). Cookies are stored for up to two years in order to obtain long-term reports on the use of the website.
                                    </p>

                                    <h3 style="text-align:left;">How Do You Control The Use Of Cookies?</h3>

                                    <p>You can view and personalize your preferences for cookies by checking your browser's settings.</p>

                                    <h3 style="text-align:left;">How Can You Change Your Cookie Preferences?</h3>
                                    <p>You can customize or completely block cookies by changing the settings of the browser you are using. You can find detailed information about the steps to be followed for different browsers at the following links:</p>
                                    <ul>
                                        <li><strong>Google Chrome :</strong><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=tr" target="_blank"> https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=tr</a></li>
                                        <li><strong>Internet Explorer :</strong><a href="https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">  https://support.microsoft.com/tr-tr/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
                                        <li><strong>Mozilla Firefox :</strong><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank"> https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a></li>
                                        <li><strong>Yandex :</strong><a href="https://yandex.com.tr/support/browser-classic/personal-data-protection/cookies.xml" target="_blank">https://yandex.com.tr/support/browser-classic/personal-data-protection/cookies.xml</a></li>
                                        <li><strong>Safari :</strong><a href="https://support.apple.com/en-in/guide/safari/sfri11471/mac" target="_blank"> https://support.apple.com/en-in/guide/safari/sfri11471/mac</a></li>
                                    </ul>
                                    <p>To manage cookie preferences in other browsers, see the help or support page for that browser.</p>
                                    <h3 style="text-align:left;">Contact</h3>
                                    <p>If you have any questions about this notification, please contact bilgi@tezmaksan.com</p>

                                    <h3 style="text-align:left;">COOKIES</h3>
                                    <h3 style="text-align:left;">doubleclick</h3>
                                    <p>We also use one or more cookies for the ads we serve throughout the web. One of our main ad cookies we use on non-Google sites is called "IDE" and is stored in browsers under the domain doubleclick.net. Another cookie named ANID is stored under the domain google.com. We also use other cookies with names such as DSID, FLC, AID, TAID, and exchange _uid. Other Google properties, such as YouTube, may also use these cookies to show you more relevant ads.</p>

                                    <h3 style="text-align:left;">LIST OF COOKIES</h3>


                                    <table class="table table-bordered" style="font-size: 13px;">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Provider</th>
                                                <th>Purpose</th>
                                                <th>Category</th>
                                                <th>Duration</th>
                                                <th>Owner</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1P_JAR</th>
                                                <td>Google</td>
                                                <td>This cookie is used by Google to display personalized advertisements on Google sites, based on recent searches and previous interactions.</td>
                                                <td>Advertising</td>
                                                <td>2 Month</td>
                                                <td>Third Party</td>
                                                <td>Functionality</td>
                                            </tr>
                                            <tr>
                                                <th>ANID</th>
                                                <td>Google</td>
                                                <td>Cookies for advertising served across the web and stored in google.com.</td>
                                                <td>Advertising</td>
                                                <td>2 Years</td>
                                                <td>Third Party</td>
                                                <td>Functionality</td>
                                            </tr>
                                            <tr>
                                                <th>NID</th>
                                                <td>Google</td>
                                                <td>This cookie is set by DoubleClick (which is owned by Google) to help build a profile of your interests and show you relevant ads on other sites.</td>
                                                <td>Advertising</td>
                                                <td>6 Years</td>
                                                <td>Third Party</td>
                                                <td>Functionality</td>
                                            </tr>

                                            <tr>
                                                <th>_ga</th>
                                                <td>Google</td>
                                                <td>This cookie is associated with Google Universal Analytics and is included in each page request in a site and used to calculate visitor, session and campaign data for the sites analytics.</td>
                                                <td>Analytic</td>
                                                <td>2 Years</td>
                                                <td>Third Party</td>
                                                <td>Productivity</td>
                                            </tr>
                                            <tr>
                                                <th>_gat_gtag_UA_*</th>
                                                <td>Google</td>
                                                <td>This cookie is associated with Google Universal Analytics and used to throttle the request rate – limiting the collection of data on high traffic sites.</td>
                                                <td>Analytic</td>
                                                <td>1 Minute</td>
                                                <td>Third Party</td>
                                                <td>Productivity</td>
                                            </tr>
                                            <tr>
                                                <th>_gid</th>
                                                <td>Google</td>
                                                <td>This cookie is used for Google Analytics to store and update a unique value for each page visited.</td>
                                                <td>Analytic</td>
                                                <td>1 Day</td>
                                                <td>Third Party</td>
                                                <td>Productivity</td>
                                            </tr>


                                            <tr>
                                                <th>_RequestVerificationToken</th>
                                                <td>Kapasitematik</td>
                                                <td>This is an anti-forgery cookie set by web applications built using ASP.NET MVC technologies. It is designed to stop unauthorised posting of content to a website, known as Cross-Site Request Forgery. It holds no information about the user and is destroyed on closing the browser.</td>
                                                <td>functionality</td>
                                                <td>Session</td>
                                                <td>First Party</td>
                                                <td>Productivity</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

