﻿
@{
    ViewData["Title"] = "Durum Ekranları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url(http://www.machinetoolexpress.com/resim/c3.png) ;">
        <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
        <div class="realfactory-blog-title-overlay"></div>
        <div class="realfactory-blog-title-container realfactory-container">
            <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                <header class="realfactory-single-article-head clearfix">
                    <div class="realfactory-single-article-date-wrapper">
                        <div class="realfactory-single-article-date-day">1</div>
                        <div class="realfactory-single-article-date-month">Kasım</div>
                    </div>
                    <div class="realfactory-single-article-head-right">
                        <h1 class="realfactory-single-article-title">“KAPASİTEMATİK ile üretim alanınızdan hiç kopmuyorsunuz”</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>*@
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">

                                    <br />
                                    <p>
                                        <strong>Kapasitematik Durum Ekranı&nbsp;</strong>
                                    </p>

                                    <p>
                                        <img align="left" height="250px" src="/images/ekran1.PNG" style="float:left;">
                                    </p>

                                    <p>Fabrikada bulunan makinaların canlı olarak durumlarını renklendirme ile ifade eden ekrandır.</p>

                                    <p>4 farklı renk yani 4 farklı durum vardır;</p>

                                    <p>
                                        1.Gri(Kapalı Süre) : Siyah renk ; makinenin çalışmadığı anlamına gelir.
                                        &nbsp;
                                    </p>

                                    <p>2.Sarı(Duruş) :  Sarı renk ; makinenin duruş yaptığı anlamına gelir.&nbsp;</p>

                                    <p>
                                        3.Yeşil(Net Opsiyon) : Yeşil renk ; makinenin çalıştığını gösterir.
                                    </p>

                                    <p>
                                        4.Kırmızı(Alarm Süre) :  Kırmızı renk ; makinenin alarm verdiğini gösterir.
                                    </p>


                                    @*<p>
            <img align="left" height="250" src="/images/ekran1.PNG" style="float:left;">
        </p>

        <br />*@
                                    @*<p>
            Fabrikada bulunan makinaların canlı olarak durumlarını renklendirme ile ifade eden ekrandır.
        </p>

        <p>
            4 farklı renk yani 4 farklı durum vardır;
        </p>
        <p>
            1.Gri(Kapalı Süre) : Siyah renk ; makinenin çalışmadığı anlamına gelir.
            &nbsp;
        </p>

        <p>
            2.Sarı(Duruş) :  Sarı renk ; makinenin duruş yaptığı anlamına gelir.
        </p>

        <p>
            3.Yeşil(Net Opsiyon) : Yeşil renk ; makinenin çalıştığını gösterir.
        </p>

        <p>
            4.Kırmızı(Alarm Süre) :  Kırmızı renk ; makinenin alarm verdiğini gösterir.
        </p>*@

                                    <p>
                                        <strong>Kapasitematik Analiz Ekranı&nbsp;</strong>
                                    </p>

                                    <p>
                                        <img align="right" height="350" src="/images/ekran3.PNG" style="float:right;">
                                    </p>

                                    <p>
                                        Makinaya ait OEE değeri, hedef ve hurda değeri, iş mili yüklenme değeri gösterilir.&nbsp;
                                    </p>

                                    <p>
                                        Parça istatistik sayısını gösteren grafikte; bir saat aralığında işlenen parça sayısı gösterilir.
                                    </p>

                                    <p>
                                        Operasyon zamanlarını gösteren grafik; operasyonun gerçekleştiği zamanı gösteren grafiktir.
                                    </p>

                                    <p>
                                        Makinaya ait değerler ekranında bulunması gereken alanlar şöyledir;
                                    </p>
                                    <div class="row">
                                        <div class="col">
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>
                                                        Operasyon zamanı,
                                                    </li>
                                                    <li>
                                                        Yapılması gereken adet,
                                                    </li>
                                                    <li>
                                                        Sorumsuz üretim adet,
                                                    </li>
                                                    <li>
                                                        Kalan üretim adet,
                                                    </li>
                                                    <li>
                                                        Kullanılabilirlik,
                                                    </li>
                                                </ul>
                                            </div>
                                            
                                        </div>
                                        <div class="col">
                                            <div class="col-md-6">
                                                <ul>
                                                    <li>
                                                        Operasyon süresi,
                                                    </li>
                                                    <li>
                                                        Gerçek parça işleme süresi,
                                                    </li>
                                                    <li>
                                                        Son operasyon zamanı,
                                                    </li>
                                                    <li>
                                                        Plansız duruş süresi
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
