﻿
@{
    ViewData["Title"] = "Erp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>
                                        <strong>Erp</strong>
                                    </p>

                                    <p>
                                        ERP, “Enterprise Resource Planning”
                                        ifadesinin kısaltmasıdır. Türkçe “Kurumsal Kaynak Planlama” anlamındadır.
                                        Ticari kurumların para, iş gücü, malzeme, makine parkı ve sabit kıymetler gibi
                                        kaynaklarını planlaması süreçleridir. Tüm firmalar için stratejik bir yönetim
                                        aracı olan ERP, çözüm ortaklarını da kapsar. İşbirliği yapılan tedarikçiler,
                                        nakliyeciler, gümrükçüler, sigortacılar gibi iş ortaklarının süreçte yeri
                                        vardır.
                                    </p>

                                    <p>
                                        Kurumsal bir firmanın sistemlerine
                                        ERP’nin entegre edilmesi, koordinasyon içinde eşgüdümlü hareket imkanı verir.
                                        Süreçteki bütün paydaşlara ilgilendikleri konuda bilgi sağlar ve süreçler arası
                                        bilgi ihtiyacını en aza indirir. Firmaların kaynaklarını ve bilgilerini
                                        merkezileştirmesi de en önemli işlevidir.
                                    </p>

                                    <p>
                                        Tüm kanallarda stokların kusursuz entegrasyonu veya omni-channel (çok kanallı) mimari söz konusu olduğunda verilerin değerlendirileceği ve paylaşılacağı zemin, ERP entegrasyonu zeminidir. Bu entegrasyon, online dünyaya ayak uydurmayı sağlar ve hızlı, ölçeklenebilir ve verimli bir e-ticaret sistemi sunar.
                                    </p>

                                    <p>
                                        Erp,Mrp Bağlatınları ve cift yönlü API ile Kapasitematik’den Erp’e ERP’den Kapasitematik’e anlık veri akışı ile İş emirleri ile planlamaların kontrol edilmesi sağlanır.
                                    </p>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

