﻿
@{
    ViewData["Title"] = "Erp-Mrp Entegrasyon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>
                                        <strong>Erp-Mrp Entegrasyonu</strong>
                                    </p>

                                    <p>
                                        Kapasitematik, ERP (Kurumsal Kaynak Planlama) ve MRP (Üretim Kaynak Planlama) sistemlerini içeren hemen hemen tüm üçüncü sınıf yazılımlarla entegre edilebilir.
                                    </p>

                                    <p>
                                        İşinizin diğer tüm alanlarıyla bağlantılı yerleştirme çalışmanızla iş akışınızda yer alan manuel ve gereksiz işleri süreç dışı bırakabileceksiniz. İşler daha kolay bir şekilde yönetilecek, takip edilecek ve birleştirilecek. Ve stoklar daha iyi yönetilerek personel değişim oranı hızlandırılacak. Bunların hepsi kârlılığınızı artırır.
                                    </p>

                                    <p>
                                        ERP yazılımı tipik olarak üretimden finansa, insan kaynaklarına ve daha fazlasına kadar tüm alanları kapsayan kapsamlı çözümler sunar. MRP ürünleri genelde üreticilerin veya fabrikatörlerin ihtiyaçlarına özgü ürünlerdir ve teklif verme, stok, iş emirleri ve nakliye gibi alanları kapsar.
                                    </p>

                                    <p>
                                        Kendi içerisinde olan Micro ERP ile ERP Yönetimi Olmayan firmalarda ERP hizmetinin sağlanması ve Kapasitematik üretim verileri ile doğrudan erişim sağlanır.
                                    </p>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

