﻿
@{
    ViewData["Title"] = "Erp English";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>
                                        <strong>Erp</strong>
                                    </p>

                                    <p>
                                        ERP, " Enterprise Resource Planning”
                                        it's an acronym for the phrase. It means “Enterprise Resource Planning” in Turkish.
                                        Commercial institutions such as money, labor, materials, machinery and fixed assets
                                        resources are planning processes. Strategic management for all companies
                                        ERP, which is a tool, also includes solution partners. Cooperated suppliers,
                                        the place of business partners such as shippers, customs officers, insurers in the process
                                        has.
                                    </p>

                                    <p>
                                        Systems of a corporate firm
                                        Integrating ERP allows coordinated movement in coordination.
                                        It provides information to all stakeholders in the process on the subject they are interested in and inter-process
                                        minimizes the need for information. Resources and information of companies
                                        centralization is also its most important function.
                                    </p>

                                    <p>
                                        In the case of seamless integration of stocks across all channels or omni-channel architecture, the ground on which data will be evaluated and shared is the ground on ERP integration. This integration allows you to keep up with the online world and provides a fast, scalable and efficient e-commerce system.
                                    </p>

                                    <p>
                                        With Erp, Mrp bindings and double-directional API, instant data flow from Kapasitematik to ERP to ERP to Kapasitematik is ensured to control work orders and planning.
                                    </p>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

