﻿
@{
    ViewData["Title"] = "Erp-Mrp Entegration";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>
                                        <strong>Erp-Mrp Entegration</strong>
                                    </p>

                                    <p>
                                        Kapasitematik can be integrated with almost all third-class software, including ERP (enterprise resource planning) and MRP (Production Resource Planning) Systems.
                                    </p>

                                    <p>
                                        With your placement work linked to all other areas of your business, you will be able to eliminate manual and unnecessary work in your workflow. Things will be more easily managed, monitored and combined. And the rate of staff change will be accelerated by better management of stocks. These all increase your profitability.
                                    </p>

                                    <p>
                                        ERP software typically offers comprehensive solutions covering all areas from manufacturing to finance to human resources and more. MRP products are generally products specific to the needs of manufacturers or fabricators and cover areas such as bidding, inventory, work orders, and shipping.
                                    </p>

                                    <p>
                                        With Micro ERP, which is in itself, ERP services are provided in companies that do not have ERP Management and direct access is provided with capacitance production data.
                                    </p>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

