﻿
@{
    ViewData["Title"] = "Mobile";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
            <div class="gdlr-core-pbf-background-wrap"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-left" style="padding: 100px 100px 0px 0px; height: 634px;" data-sync-height="height-1">
                            <div class="" style="background-color: #f1f0f0 ;">
                                <img src="/images/kapasitematil-mobil-gorsel-ekrani.png" alt="kapasitematik mobil ekran görünümü" title="kapasitematik mobil ekran görünümü" style="max-width:100%;">
                            </div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8" style=""></div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 130px 0px 110px 70px; height: 634px;" data-sync-height="height-1" data-sync-height-center="">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8" style="">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 25px ;">
                                        <div class="gdlr-core-title-item-title-wrap ">
                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 33px ;letter-spacing: 0px ;text-transform: none ;">
                                                KAPASITEMATIK MOBILE APPLICATION<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 15px ;">
                                        <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;">
                                            <p>With this project, which can be considered as the Industry 4.0 application, the key data of the machines are collected in a center by remote access. Thanks to the remote monitoring system 'KAPASİTEMATİKs', CNC users and businesses can monitor their existing machines at any time.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix  gdlr-core-left-align">
                                        <ul>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover gdlr-core-column-30 gdlr-core-column-first clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-check-circle" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-check-circle" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">Machine Track</span>
                                                </div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover gdlr-core-column-30 clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-check-circle" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-check-circle" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">Number of Working Parts</span>
                                                </div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover gdlr-core-column-30 gdlr-core-column-first clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-check-circle" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-check-circle" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">Program Number</span>
                                                </div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover gdlr-core-column-30 clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-check-circle" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-check-circle" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">Posture Notifications</span>
                                                </div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover gdlr-core-column-30 gdlr-core-column-first clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-check-circle" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-check-circle" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">Total Downtime</span>
                                                </div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover gdlr-core-column-30 clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-check-circle" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-check-circle" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">Machine Performance</span>
                                                </div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover gdlr-core-column-30 gdlr-core-column-first clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-check-circle" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-check-circle" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">Operator Performance</span>
                                                </div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover gdlr-core-column-30 clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-check-circle" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-check-circle" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">ERP-MRP Integrations</span>
                                                </div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover gdlr-core-column-30 clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-check-circle" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-check-circle" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">Operator Screens</span>
                                                </div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover gdlr-core-column-30 clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-check-circle" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-check-circle" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">Instant Status Screens</span>
                                                </div>
                                            </li>
                                            <li class=" gdlr-core-skin-divider gdlr-core-with-hover gdlr-core-column-30 clearfix">
                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left">
                                                    <i class="gdlr-core-icon-list-icon-hover fa fa-check-circle" style="font-size: 16px ;"></i>
                                                    <i class="gdlr-core-icon-list-icon fa fa-check-circle" style="font-size: 16px ;width: 16px ;"></i>
                                                </span>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 16px ;">Bidirectional API ERP-KAPASİTEMATİKs ⇔ KAPASİTEMATİKs-ERP</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

