﻿
@{
    ViewData["Title"] = "Planlı-Plansız Duruşlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>
                                        <strong>Planlı & Plansız Duruş Takibi</strong>
                                    </p>

                                    <p>Makinanızın ne zaman durduğunu bu duruşun Planlı mı? Plansız mı ? olduğunu detay raporda size sunar.</p>

                                    <p>
                                        Kapasitematik ile Planlı-Plansız tüm duruşların takibi sağlanır. Planlı-Plansız duruş süreleri ve oranlarını görebilirsiniz.
                                    </p>

                                    <p>
                                        <strong>Bilinen en net “duruş” nedenleri</strong>
                                    </p>

                                    <p><strong>Ekipman arızaları:</strong> Üretimi durduran önemli faktörlerin en başında gösterilir. Aslına bakarsanız, düzenli olarak bakıma alınan üretim merkezlerinde dahi, küçüklü büyüklü arıza duruşları olabilmektedir. Arıza nedeniyle “duruş” bir olay olarak karşımızda durmaktadır. Peki, oluşan arıza kaynaklı duruşların asıl nedenleri nelerdir? Bunlar analiz edilmeden, operatörün veya bakım elemanının üzerine gidilmesi, sorunu ne kadar çözecektir?</p>

                                    <p><strong>Cehalet yüzünden duruşlar:</strong> Yetersiz operatör eğitimlerinin öncelikli sonucu olarak ortaya çıkarlar. Beklenmedik (!) bir durumla karşılaşan operatör ne yapacağını bilemez, ihtimalen yapılmaması gereken bir şeyle sorunu çözeceğini de düşünebilir ki, bu en kötü sonucu doğuracaktır. Yetersiz eğitim özellikle personel değişiminin hızlı olduğu üretim alanlarında kendisini fazla gösterir.</p>

                                    <p><strong>Operasyon metodlarından ve iş çizelgelerinden kaynaklı duruşlar:</strong> Genellikle yapılan iş metodlarının °C tezgah ayarları, kullanılacak takımlar, operasyon tarifleri, işlem sıraları ve kalite kontrol parametreleri vb aslında en etkililer sınıfında ön sırada bulunan bu tür nedenlerden kaynaklanan duruşlar, çözümü detaylı teknik çalışma gerektiren ve maliyetli olabilen duruş nedenlerindendir. Ayrıca “subjektif” faktörlere olan bağımlılığı nedeni ile de somut ispat gerektiren duruş nedenlerindendir. Ne de olsa, bu tür duruşlarda, “çok tecrübeli” fabrika müdürünün veya atelye yöneticilerinin tercihleri de etken olabilir…</p>

                                    <p><strong>Malzeme yokluğundan kaynaklı duruşlar:</strong> Malzeme yokluğu iki biçimde etki yapacaktır, birincisi, üretim merkezinin (bu durumda tezgahın veya bantın ya da hücrenin) planlı zamanda işe başlamasını imkansız hale getirecek biçimde malzemenin iş merkezine sevk edilememesidir, bu, ham madde olabilir, yarı mamul olabilir veya işletme malzemesi olabilir. İkincisi, üretim başlar, ancak, malzeme planlanandan önce tükenir ve planlanan adet veya miktarda üretim gerçekleşemez, eksik üretim yapılır. Önemli bir duruş nedeni de, takım uyumsuzluğu veya yetersizliği olabilir. Bu durumda planlanan takım bakıma alınmamıştır veya arızalıdır. Bazı durumlarda, takım montajı için gereken parçalar da eksik veya işlevsiz olabilir.</p>

                                    <p><strong>Ayar zamanlarının uzunluğundan kaynaklanan duruşlar:</strong> Setup ya da ayar zamanları, belirli üretim tiplerinde büyük önem taşır. Setup zamanlarının minimizasyonu ciddi mühendislik bilgisi ve uzmanlık isteyen çalışmalarla realize olabilir. Ancak, çoğu zaman, ayar zamanlarındaki darboğazlar çok basit nedenlerden kaynaklanır, doğru ve detaylı veri sağlanması sonucunda, darboğazlar kolaylıkla “keşfedilebilir” ve sürecin akışkanlığı “düzeltilebilir”. Yapılan çalışmalarda, belirli üretim tiplerinde ayar zamanlarının %70´lerin üzerinde azaltılabileceği belirlenmiştir. Elbette ki lüksün de bir maliyeti olur!</p>

                                    <p><strong>Ürün değişimlerinden kaynaklanan duruşlar:</strong> Aslında çoğu vakada üretim çizelgelerinin bir eksikliğidir ama önemli bir duruş nedeni olduğu için ayrıca ele almakta fayda vardır. Bazı üretim alanlarında, ürün değişimi uzun zaman alır; ne kadar optimize edilmiş olursa olsun, süre maliyetlidir. Bu durumda, teknik açıdan da çözüm aramak gerekebilir. İki tercih önemlidir; birincisi, üretim teknolojisinde ilerleme sağlamak gerekebilir, ikinci durumda ise, parti büyüklüklerinin optimizasyonu önem kazanır. Küçük partilerden feda edilmesi çoğu zaman olanaksızdır, o nedenle küçük parti üretimini ayırmak da ayrı bir çözüm yolu olabilir. Her durumda, ürün değişiminin hangi noktasının asıl zamanı “çaldığı”nı iyi bir veri analizi ile saptamak gerekir.</p>

                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

