﻿
@{
    ViewData["Title"] = "Planned-Unplanned Posture";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>
                                        <strong>Planned & Unplanned Posture Tracking</strong>
                                    </p>

                                    <p>Makinanızın ne zaman durduğunu bu duruşun Planlı mı? Plansız mı ? olduğunu detay raporda size sunar.</p>

                                    <p>
                                        Is this posture planned when your machine stops? Unplanned ? it provides you with a detailed report.
                                    </p>

                                    <p>
                                        <strong>The clearest known” posturing " reasons</strong>
                                    </p>

                                    <p><strong>Equipment failures:</strong> It is shown at the very beginning of the important factors that stop production. As a matter of fact, even in production centers that are regularly serviced, there may be small to large failure stops. Because of the fault,” posture " stands in front of us as an event. So, what are the main causes of downtime? How much will it solve the problem if they are not analyzed, going over the operator or maintenance element?</p>

                                    <p><strong>Postures due to ignorance:</strong> They are the primary result of inadequate operator training. Unexpected (!) the operator facing a situation does not know what to do, he may also think that he will solve the problem with something that should not be done, which will lead to the worst result. Insufficient training, especially in production areas where personnel change is rapid, manifests itself too much.</p>

                                    <p><strong>Stops from operation methods and work schedules:</strong> ° C machine settings of the work methods usually performed, tools to be used, operation recipes, process rows and quality control parameters, etc.in fact, the stops caused by such reasons, which are in the front row of the most effective class, are the reasons for the stop, the solution of which requires detailed technical work and can be costly. In addition, due to its dependence on “subjective” factors, it is also one of the reasons for posture that requires concrete proof. After all, the preferences of a “very experienced” factory manager or workshop managers can also be a factor in such positions…</p>

                                    <p><strong>Stoppages caused by lack of material:</strong> The absence of materials will have two effects, the first is that the material cannot be shipped to the work Center in such a way that it is impossible for the production center (in this case, the machine or tape or cell) to start work at the planned time, it can be raw material, semi-finished product, or operating material. Second, production begins, however, the material is exhausted before planned, and the planned quantity or quantity of production cannot occur, incomplete production is made. An important reason for stopping may also be team mismatch or incompetence. In this case, the planned tool has not been serviced or is defective. In some cases, the parts needed for tool Assembly may also be missing or dysfunctional.</p>

                                    <p><strong>Stops caused by length of setting times:</strong> Setup or setup times are of great importance in certain production types. Minimization of Setup times can be realized by studies that require serious engineering knowledge and expertise. However, often, bottlenecks at setting times are caused by very simple reasons, as a result of providing accurate and detailed data, bottlenecks can be easily “discovered” and the fluidity of the process can be “corrected”. In studies, it was determined that setting times can be reduced by over 70% in certain production types. Of course, luxury also has a cost!</p>

                                    <p><strong>Postures resulting from product changes:</strong> In fact, in most cases, it is a lack of production schedules, but it is also worth addressing, as it is an important reason for stopping. In some manufacturing areas, product replacement takes a long time; no matter how optimized, the time is costly. In this case, it may be necessary to look for a solution from a technical point of view. Two choices are important; first, it may be necessary to make progress in production technology, and in the second case, optimization of batch sizes becomes important. It is often impossible to sacrifice small batches, so separating small batch production can also be a separate solution. In any case, it is necessary to determine which point of the product change “stole”the actual time with good data analysis.</p>

                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

