﻿
@{
    ViewData["Title"] = "Productivity Tracking";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>
                                        <strong>Productivity Tracking</strong>
                                    </p>

                                    <p>
                                        After data collected from factory production processes is filtered and processed, overall Equipment Efficiency and Equipment Efficiency reports are created.
                                    </p>

                                    <p>
                                        Oees can be reported in detail on the basis of machine, operator, production band, shift and can be monitored instantly.
                                    </p>

                                    <p>
                                        Comparative efficiency reports and change charts can be prepared for the past.
                                    </p>

                                    <p>
                                        Productivity reports can be integrated with currently used systems, sensors, PLCs, and the resulting outputs can be arranged to work in accordance with the integrated systems according to the need.
                                    </p>

                                    <p>
                                        For more information please contact.
                                    </p>
                                    <p>
                                        <a href="/contact" class="realfactory-header-right-button">
                                            Contact
                                        </a>
                                    </p>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

