﻿
@{
    ViewData["Title"] = "Production Tracking";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>
                                        <strong>Production Tracking</strong>
                                    </p>

                                    <strong>With “Kapasitematik”, Machine tracks of companies are monitored remotely; instant operation data of machines and historical statistical efficiency analyses are presented to users and business owners. Remotely monitored data; for example, categories such as the number of parts processed by the machine, number of scrap, working and stopping times, reasons for stopping can be seen, as well as historical trend analysis can be performed.</strong>

                                    <p>
                                        With this project, which can be considered within the concept of Industry 4.0 and IOT (Internet of things), the key data of the machines are collected in a center and presented with meaning by making remote access.
                                    </p>

                                    <p>
                                        Looking at the history of manufacturing technologies, while being able to produce a product in advance is the most important criterion, today we see that it is easier to manufacture almost everything, but the new race is to be able to manufacture efficiently. Hence, when you consider its role in the manufacturing process of CNC machines at this point in the race, that's how efficient the CNC machine, in other words, the analysis of the data can be run closer to full capacity, in terms of operational efficiency is of key importance. Tezmaksan is the task that the machine takes on here; while it will be much more costly for each of the enterprises to set up this analysis and reporting system individually, it takes it from a center and to the feet of its customers with standardized structures.
                                    </p>

                                    <p>Doing such a project for CNC machines becomes even more important due to the characteristics of CNC machines. As such, CNC machines can produce parts with very different manufacturing criteria. For example, sometimes the precision criterion precedes time, sometimes speed can be more important... so there can really be a different method, speed, setting of doing a job, and often this is shaped by the preferences of the CNC operator. Because of this, monitoring and reporting the efficiency of CNC machines will be even more important from the point of view of businesses in order to approach full capacity use compared to machines built to do a single job.</p>

                                    <p>In addition to the daily working Times of the machines, especially the downtime; failure, preparation, loading/unloading, break, etc. reporting in subcategories makes it possible for this analysis to provide more targeted data.</p>

                                    <p><strong>In summary, thanks to capacitance, this remote monitoring and efficiency reporting system, CNC users and businesses will be able to measure their existing machines and see historical trend analysis, and in light of this information, they will see what improvements they can make to increase their efficiency. Of course, the capacitance that will work after making these improvements will also continue to report on the degree to which the correct improvements have been made and what the results of these efforts are.</strong></p>

                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

