﻿
@{
    ViewData["Title"] = "Program Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p style="text-align:center;">
                                        <h4>Program Transfer Modülü</h4>
                                    </p>
                                    <p>Projenin amacı kullanıcıların makinelerine uzaktan erişerek istediği programları cnc makinelerine iletebilmesi. </p>
                                    <p style="padding-top: 10px; font-size:17px;">
                                        <strong>Projenin Kapsamı Nedir?</strong>
                                    </p>

                                    <p>Program Transfer Web Modülü, bilgisayarınızdaki dosya ve klasörlerin listelendiği, bilgisayarınızdaki dosyaların dinamik alana sürüklendiği, makinelere ait programların listelendiği, programların indirilebildiği, makinelerin listelendiği, logların Excel’e aktarılabildiği ve logların tutulduğu alanları içerir.</p>

                                    @*<p>
            Program Transfer Web Modülü Anasayfa
        </p>

        <p>Anasayfa, makinelerin listesi, makine içerisindeki programların listesi ve indirilmesi, bilgisayardaki dosya ve klasörlerin listesi, bilgisayardaki dosyaların dinamik alana sürüklenmesi ve program listesine aktarılması, logların tutulması gibi bilgilerin görüntülendiği sayfadır.</p>

        <p><img height="250" src="/images/ekran6.PNG" weight="450px"></p>*@

                                    <p style="font-size:17px;">
                                        <strong>Program Transfer Web Modülü Tanıtım Videosu</strong>
                                    </p>

                                    <p>
                                        @*<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="~/videos/takimomru.mp4"></iframe>
            </div>*@
                                        <!--<div class="embed-responsive embed-responsive-4by3">
        <video src="~/videos/Program Transfer Tanıtım Video.mp4" width="751" height="384" controls></video>-->
                                        @*<iframe class="embed-responsive-item" width="751" height="384" src="~/videos/takimomru.mp4" frameborder="0" allowfullscreen></iframe>*@
                                        <!--</div>-->
                                        <div class="gdlr-core-fluid-video-wrapper" style="padding-top: 56.25%;">
                                            <iframe src="~/videos/Program Transfer Tanıtım Video.mp4" allowfullscreen="" id="gdlr-video-989367"></iframe>
                                        </div>
                                    </p>

                                    <p>
                                        <img align="left" height="250" src="/images/Ekran Resmi 2020-10-06 15.11.01.png" weight="450px" style="float: left; margin:7px; height: 320px;">
                                    </p>

                                    <p style="font-size:17px;">
                                        <strong>Program Transfer Mobil Modülü&nbsp;</strong>
                                    </p>

                                    <p>
                                        Program Transfer Mobil Modülü, makinelerin listelendiği, telefonunuzdaki dosyaların makinelere yüklenebildiği, makinelere ait programların listelendiği alanları içerir.
                                    </p>



                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

