﻿@model Kapasitematik.Models.Demo
@{
    ViewData["Title"] = "Request Kapasitematik";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}

<style>
    .talepFormCss {
        margin-left: 25%;
    }

    @@media only screen and (max-width: 770px) {
        .talepFormCss {
            margin-left: 0px !important;
        }
    }
</style>
<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <div class="container">
                                        <br /><br />
                                        <div class="row text-center">
                                            <div class="col-md-6 offset-md-3">
                                                <div class="section-head">
                                                    <h6 class="section-title-sm about-info animated" data-animate="fadeInUp" data-delay="0">KAPASITEMATIK REQUEST</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="partner-list" style="padding-bottom:15px;">
                                            <div class="col-lg-8 offset-lg-2">
                                                <div id="contact-form" class="form-message text-center">
                                                    <div class="form-results"></div>
                                                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                        @*<input name="Name" type="text" class="input-line required">*@
                                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-line", required = "required" } })
                                                        <label class="input-title ">Name</label>
                                                    </div>
                                                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".5">
                                                        @*<input name="CompanyName" type="text" class="input-line required">*@

                                                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "input-line", required = "required" } })
                                                        <label class="input-title">Company Name</label>
                                                    </div>
                                                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                                                        @*<input name="Email" type="email" class="input-line required email">*@
                                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-line", type = "email", required = "required" } })

                                                        <label class="input-title">E-Mail</label>
                                                    </div>
                                                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".7">
                                                        @*<input name="MobilPhone" type="text" class="input-line required fa-phone">*@
                                                        @Html.EditorFor(model => model.MobilPhone, new { htmlAttributes = new { @class = "input-line required fa-phone" }, required = "required" })
                                                        <label class="input-title">Company Phone</label>
                                                    </div>
                                                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".8">
                                                        @*<input name="Phone" type="text" class="input-line required">*@
                                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "input-line required fa-phone", required = "required" } })
                                                        <label class="input-title">Mobile Phone</label>
                                                    </div>
                                                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".9">
                                                        @*<input name="City" class="dropdown-item-text input-line required">
                                                            <label class="input-title">İliniz</label>*@
                                                        @*@Html.DropDownList("City", ViewBag.CityNames as List<SelectListItem>, new { @class = "input-field animated" })*@
                                                    </div>
                                                    <div class="input-field animated" data-animate="fadeInUp" data-delay=".6">
                                                        <small>
                                                            <input type="hidden" name="kvkk_rslt" id="kvkk_rslt" value="false" />
                                                            <input name="Kvkk_Onay" id="Kvkk_Onay" type="checkbox" class="email kvkkonay_kpstmtk"> I have read the <a href="/aydinlatma-beyani" target="_blank">for the protection of personal data.</a>
                                                        </small>

                                                        <label class=""></label>

                                                    </div>
                                                    <div class="input-field talepFormCss" data-animate="fadeInUp" data-delay=".6">
                                                        <div class="g-recaptcha" data-sitekey="6LfM-IMUAAAAABEx0l-Q4Ar6bc7EZsHqNIlZmFop"></div>
                                                    </div>
                                                    <!--<input type="text" class="d-none" name="form-anti-honeypot" value="">-->
                                                    <div class="input-field" data-animate="fadeInUp" data-delay=".9">
                                                        <button type="submit" class="btn" id="kpstmk_talep_gndr">Submit</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

