﻿@model ViewModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-area">
                    <br /><br />
                    <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full">
                        <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                            @if (Model.Articles == null)
                            {
                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title">
                                    Aradığınız kelimeye uygun içerik bulunamamıştır.
                                </h3>
                            }
                            else
                            {
                                @foreach (var item in Model.Articles)
                                {
                                    <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-pdlr gdlr-core-style-left">
                                        <div class="gdlr-core-blog-full-head clearfix">
                                            @*<div class="gdlr-core-blog-date-wrapper gdlr-core-skin-divider">
                                    <div class="gdlr-core-blog-date-day gdlr-core-skin-caption">11</div>
                                    <div class="gdlr-core-blog-date-month gdlr-core-skin-caption">Feb</div>
                                </div>*@
                                            <div class="gdlr-core-blog-full-head-right">
                                                <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                    <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                        <span class="gdlr-core-head">
                                                            <i class="fa fa-clock-o"></i>
                                                        </span>
                                                        <a href="#">@item.Tarih.ToShortDateString()</a>
                                                    </span>
                                                </div>
                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title">
                                                    <a href="/Home/BlogDetay/@item.Id">@item.Baslik</a>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-blog-content clearfix">
                                            <div class="clear"></div>
                                            <a class="gdlr-core-excerpt-read-more" href="/Home/BlogDetay/@item.Id">Devamını Oku<i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class=" realfactory-sidebar-right realfactory-column-20 realfactory-line-height realfactory-line-height">
                <div class="realfactory-sidebar-area realfactory-item-pdlr" style="min-height: 3902px;">
                    <br /><br />
                    <div id="gdlr-core-recent-portfolio-widget-2" class="widget widget_gdlr-core-recent-portfolio-widget realfactory-widget">
                        <h3 class="realfactory-widget-title">Yeni Yazılar</h3>
                        <div class="gdlr-core-recent-portfolio-widget-wrap clearfix">
                            <partial name="BlogKayitPartial" />
                        </div>
                    </div>
                    @*<div id="gdlr-core-recent-portfolio-widget-2" class="widget widget_gdlr-core-recent-portfolio-widget realfactory-widget">
                        <h3 class="realfactory-widget-title">En Çok Görüntülenen Sayfalar</h3>
                        <div class="gdlr-core-recent-portfolio-widget-wrap clearfix">
                            <partial name="EncokGoruntulenenPartial" />
                        </div>
                    </div>*@
                    @*<div id="recent-comments-3" class="widget widget_recent_comments realfactory-widget">
                <h3 class="realfactory-widget-title">Son Yorumlar</h3>
                <ul id="recentcomments">
                    <partial name="BlogYorumPartial" />
                </ul>
            </div>*@
                    <div id="tag_cloud-2" class="widget widget_tag_cloud realfactory-widget">
                        <h3 class="realfactory-widget-title">Etiketler</h3>
                        <div class="tagcloud">
                            <partial name="BlogEtiketPartial" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

