﻿
@{
    ViewData["Title"] = "Takım Ömrü";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p style="text-align:center;">
                                        <h4>Takım Ömrü Modülü</h4>
                                    </p>
                                    <p style="font-size:17px;">
                                        <strong>Takım Ömrü Web Modülü</strong>
                                    </p>
                                    <p>Projenin amacı kullanıcıların takımlarının ve parçalarının durumlarını anlık olarak görebilmesi. Takımların ve parçaların ne kadar ömrü kaldığı bilgisini kullanıcıya iletebilmek.</p>
                                    <p style="padding-top: 10px; font-size:17px;">
                                        <strong>Projenin Kapsamı Nedir?</strong>
                                    </p>
                                    <p>Takım Ömrü Web Modülü, takımlar ve takımlara ait tüm parçaların anlık durumlarının görüntülenmesini içerir. Takımlardaki parçaların gün bazında ne kadar ilerleme kat ettiğini, ömürlerinin bitmesine gün bazında kaç gün kaldığını, parça bazında ise kaç parça kaldığını, ömrü bitmek üzere olan parçaların görünmesi gibi fonksiyonların kullanıcıya sunulmasıdır. Takımların ve parçaların eklenebildiği, güncellenebildiği, silinebildiği, arama, sıralama, sayfalama, filtreleme gibi işlemlerin yapılabildiği, tüm takımların ve parçaların Excel olarak çıktılarının alınabildiği, takım ya da parça kritik ana düştüğünde kullanıcıya bildirim gönderilebildiği gibi çok fonksiyonlu bir modüldür.</p>

                                    <p>
                                        @*<img height="250px" src="/images/takimomruanasayfaa.png" style="float:left; margin:7px;">*@
                                        @*<img src="~/images/takimomruanasayfaa.png" />*@
                                        <img src="~/images/takimomruanasayfa.PNG" />
                                    </p>

                                    <p style="font-size:17px;">
                                        <strong>Takım Ömrü Sayfası&nbsp;</strong>
                                    </p>

                                    <p>Takım Ömrü Sayfası, takımlar ve takımlara ait tüm parçaların anlık durumlarının görüntülenmesini içerir. Takımlardaki parçaların gün bazında ne kadar ilerleme kat ettiğini, ömürlerinin bitmesine gün bazında kaç gün kaldığını, parça bazında ise kaç parça kaldığını, ömrü bitmek üzere olan parçaların görünmesi gibi fonksiyonların kullanıcıya sunulmasıdır. Takımların ve parçaların eklenebildiği, güncellenebildiği, silinebildiği, arama, sıralama, sayfalama, filtreleme gibi işlemlerin yapılabildiği, tüm takımların ve parçaların Excel olarak çıktılarının alınabildiği, takım ya da parça kritik ana düştüğünde kullanıcıya bildirim gönderilebildiği, barların üzerine gelindiğinde anlık olarak işlenen parça sayısı ve parçanın eklenme tarihi billgilerinin görünebildiği çok fonksiyonlu bir sayfadır.</p>

                                    <p style="font-size:17px;">
                                        <strong>Takım Ömrü Web Modülü Tanıtım Videosu</strong>
                                    </p>

                                    <p>
                                        @*<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="~/videos/takimomru.mp4"></iframe>
            </div>*@
                                        <!--<div class="embed-responsive embed-responsive-4by3">
        <video src="~/videos/takimomru.mp4" width="751" height="384" controls></video>-->
                                        @*<iframe class="embed-responsive-item" width="751" height="384" src="~/videos/takimomru.mp4" frameborder="0" allowfullscreen></iframe>*@
                                        <!--</div>-->
                                        <div class="gdlr-core-fluid-video-wrapper" style="padding-top: 56.25%;">
                                            <iframe src="~/videos/takimomru.mp4" allowfullscreen="" id="gdlr-video-989367"></iframe>
                                        </div>
                                    </p>

                                    <p>
                                        <img align="right" height="250px" src="/images/anaekran.png" weight="450px" style="float:right; margin:7px;height:320px">
                                    </p>

                                    <p style="font-size:17px;">
                                        <strong>Takım Ömrü Mobil Uygulama Modülü</strong>
                                    </p>

                                    <p>
                                        Takım Ömrü Mobil Uygulama Modülü, takımlar ve takımlara ait tüm parçaların anlık durumlarının görüntülenmesini içerir. Takımlardaki parçaların gün bazında ne kadar ilerleme kat ettiğini, ömürlerinin bitmesine gün bazında kaç gün kaldığını, parça bazında ise kaç parça kaldığını, ömrü bitmek üzere olan parçaların görünmesi gibi fonksiyonların kullanıcıya sunulmasıdır. Takımların ve parçaların eklenebildiği, silinebildiği, arama, filtreleme gibi işlemlerin yapılabildiği, takım ya da parça kritik ana düştüğünde kullanıcıya bildirim gönderilebildiği gibi çok fonksiyonlu bir modüldür.
                                    </p>

                                    <br /><br /><br />

                                    <p style="font-size:17px;">
                                        <strong>Takım Ömrü Mobil Uygulama Modülü Tanıtım Videosu</strong>
                                    </p>

                                    <p>
                                        @*<div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="~/videos/takimomru.mp4"></iframe>
            </div>*@
                                        <div class="embed-responsive embed-responsive-4by3">
                                            <video src="~/videos/Takım Ömrü Mobil Tanıtım.mov" width="751" height="384" controls></video>
                                            @*<iframe class="embed-responsive-item" width="751" height="384" src="~/videos/takimomru.mp4" frameborder="0" allowfullscreen></iframe>*@
                                        </div>
                                    </p>

                                    <p>
                                        Takım Ömrü Raporlama Modülü, takımlar ve takımlara ait tüm parçaların anlık durumlarının görüntülenmesini içerir. Takımlardaki parçaların gün bazında ne kadar ilerleme kat ettiğini, ömürlerinin bitmesine gün bazında kaç gün kaldığını, parça bazında ise kaç parça kaldığını, ömrü bitmek üzere olan parçaların görünmesi gibi fonksiyonların kullanıcıya sunulmasıdır. Takımların ve parçaların durumlarının çeşitli grafiklerle görüntülenebildiği, takım adına göre, parça adına göre, eklenme tarihine göre gibi filtrelemelerin yapılabildiği, tüm takımların ve parçaların Excel olarak çıktılarının alınabildiği, takım ya da parça kritik ana düştüğünde kullanıcıya bildirim gönderilebildiği gibi çok fonksiyonlu bir modüldür.
                                    </p>

                                    <p style="font-size:17px;"><strong>Takım Ömrü Raporu</strong></p>

                                    <p>
                                        Takım Ömrü Raporu, takımlar ve takımlara ait tüm parçaların anlık durumlarının görüntülenmesini içerir. Takımlardaki parçaların gün bazında ne kadar ilerleme kat ettiğini, ömürlerinin bitmesine gün bazında kaç gün kaldığını, parça bazında ise kaç parça kaldığını, ömrü bitmek üzere olan parçaların görünmesi gibi fonksiyonların çeşitli grafiklerle kullanıcıya sunulmasıdır.
                                    </p>

                                    <p><img height="250" src="/images/anasayfa.PNG" weight="450px"></p>

                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@*<p align="center"><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/09fYP08GTCw" style="max-width: 90%;" width="560"></iframe></p>*@

@*<div class="gdlr-core-fluid-video-wrapper" style="padding-top: 56.25%;">
        <iframe src="" allowfullscreen="" id="gdlr-video-989367"></iframe>
    </div>*@