﻿
@{
    ViewData["Title"] = "Üretim Takibi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>
                                        <strong>Üretim Takibi</strong>
                                    </p>

                                    <strong>“Kapasitematik” ile, firmaların makine parkurları uzaktan izlenerek; makinaların anlık çalışma verileri ve tarihsel istatistiksel verimlilik analizleri kullanıcı ve işletme sahiplerine sunulmaktadır. Uzaktan izlenen veriler ; örneğin makinanın işlediği parça adeti, hurda adedi, çalışma ve durma süreleri, durma sebepleri gibi kategoriler görülebilmekte ve ayrıca geçmişe yönelik trend analizleri yapılabilmektedir.</strong>

                                    <p>
                                        Endüstri 4.0 ve IOT (nesnelerin interneti) konsepti dahilinde düşünülebilecek bu proje ile uzaktan erişim yaparak makinaların anahtar öneme sahip verileri bir merkezde toplanmakta ve bu veriler anlamlandırılarak sunulmaktadır.
                                    </p>

                                    <p>
                                        Üretim teknolojilerinin tarihine baktığımızda, önceden bir ürünü imal edebilmek en önemli kriter iken günümüzde ise hemen her şeyin imalatını yapmanın daha kolay olduğunu ancak yeni yarışın imalatı verimli yapabilmek olduğunu görüyoruz. Dolayısıyla, CNC makinelerin imalat prosesinde üstlendiği görevi göz önüne getirdiğimizde, bu noktada da yarışın, o CNC makinanın ne kadar verimli, bir diğer deyişle tam kapasitesine ne kadar yakın çalıştırılabildiği verisinin analizi, işletme verimliliği açısından anahtar öneme sahip olmaktadır. Tezmaksan Makinanın burada üstlendiği vazife ise; işletmelerin her birinin bireysel olarak bu analiz ve raporlama sistemini kurması çok daha maliyetli olacak iken, bunu bir merkezden ve standardize edilmiş yapılar ile müşterilerinin ayağına götürmektedir.
                                    </p>

                                    <p>CNC makinalar için böyle bir projenin yapılması ise CNC makinaların karakteristiği itibariyle daha da önem kazanmaktadır. Şöyle ki; CNC makinalar, birbirinden çok farklı imalat kriterlerine sahip parça üretebilmektedir. Örneğin bazen hassasiyet kriteri sürenin önüne geçerken, bazen de hız daha önemli olabilir… Dolayısıyla bir işi yapmanın gerçekten de birden farklı yöntemi, hızı, ayarı olabilir ve çoğu zaman bu CNC operatörünün tercihleri ile şekillenir. Bundan ötürü CNC makinaların verimliliğinin izlenmesi ve raporlanması işletmeler açısından tam kapasite kullanımına yaklaşabilmek adına, tek bir işi yapmak üzere üretilmiş makinalarla kıyaslandığında daha da önemli olacaktır.</p>

                                    <p>Makinelerin günlük çalışma sürelerinin yanı sıra özellikle duruş sürelerinin; arıza, hazırlık, yükleme/boşaltma, mola vb. alt kategorilerde raporlanması ise bu analizin daha hedefe yönelik veriler sunmasını mümkün kılar.</p>

                                    <p><strong>Özetle bu uzaktan izleme ve verimlilik raporlama sistemi olan Kapasitematik sayesinde CNC kullanıcıları ve işletmeler, mevcut makinalarını ölçebilir ve tarihsel trend analizlerini görebilir hale gelecek, ve bu bilgilerin ışığında da verimliliklerini arttırmak için ne gibi geliştirmeler yapabileceklerini göreceklerdir. Elbette bu geliştirmeleri yaptıktan sonra da çalışacak olan Kapasitematik, ne derece doğru iyileştirmelerin yapıldığı ve bu çabaların sonuçlarının neler olduğunu da raporlamaya devam edecektir.</strong></p>

                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

