﻿
@{
    ViewData["Title"] = "Verimlilik Takibi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    @*<div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
            <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
            <div class="realfactory-blog-title-overlay"></div>
            <div class="realfactory-blog-title-container realfactory-container">
                <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                    <header class="realfactory-single-article-head clearfix">
                        <div class="realfactory-single-article-date-wrapper">
                            <div class="realfactory-single-article-date-day">1</div>
                            <div class="realfactory-single-article-date-month">Kasım</div>
                        </div>
                        <div class="realfactory-single-article-head-right">
                            <h1 class="realfactory-single-article-title">Kapasitematik Takım Ömrü Modülü</h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>*@
    <br /><br />
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>
                                        <strong>Verimlilik Takibi</strong>
                                    </p>

                                    <p>
                                        Fabrikada bulunan üretim süreçlerinden toplanan veriler, filtrelenip işlendikten sonra, verimlilik (Overall Equipment Efficiency ve Equipment Efficiency) raporları oluşturulur.
                                    </p>

                                    <p>
                                        OEE'ler makine, operatör, üretim bandı, vardiya bazında detaylı olarak raporlanabilir ve anlık olarak izlenebilir.
                                    </p>

                                    <p>
                                        Geçmişe yönelik karşılaştırmalı verimlilik raporları ve değişim grafikleri hazırlanabilir.
                                    </p>

                                    <p>
                                        Verimlilik raporları, hali hazırda kullanılan sistemler, sensörler, plc'ler ile entegre edilebilir, oluşan çıktılar ihtiyaca göre entegre sistemler ile uyumlu çalışacak şekilde düzenlenebilir.
                                    </p>

                                    <p>
                                        Daha fazla bilgi için lütfen iletişime geçiniz.
                                    </p>
                                    <p>
                                        <a href="/iletisim" class="realfactory-header-right-button">
                                            İletişim
                                        </a>
                                    </p>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

