﻿
@{
    ViewData["Title"] = "Videos";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}

<style>
    .video .img {
        position: absolute;
        display: block;
        background: url(http://www.slatecube.com/images/play-btn.png) no-repeat center;
        background-size: contain;
        width: 40px;
        height: 40px;
        left: 50%;
        top: 50%;
        margin-left: -20px; /*half of the width */
        margin-top: -20px; /*half of the height */
    }
</style>
@*<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " style="padding: 150px 30px 50px 30px;">
            <div class="gdlr-core-pbf-background-wrap"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full">
                    <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-portfolio-item gdlr-core-item-pdb clearfix  gdlr-core-portfolio-item-style-grid" style="padding-bottom: 10px ;">
                            <div class="gdlr-core-portfolio-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/CNC-milling.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=sqM-MBN3-PA" class="play-btn-s2 video-play">
                                                </a>
                                                <p>Real-Time Count Tracking</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/CNC-milling.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=-8eH5KoRbHE" class="play-btn-s2 video-play">
                                                </a>
                                                <p>Operator Performance Tracking</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/CNC-milling.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=hJJSoZAYC1E" class="play-btn-s2 video-play">
                                                </a>
                                                <p>Machine Performance Tracking</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/CNC-milling.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=hX7kbVDMfb4" class="play-btn-s2 video-play">
                                                </a>
                                                <p>Program Number Tracking</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/CNC-milling.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=QOjUKcmxrgk" class="play-btn-s2 video-play">
                                                </a>
                                                <p>Shift System</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/CNC-milling.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=U6M00aalAGw" class="play-btn-s2 video-play">
                                                </a>
                                                <p>Total Parça Piece of Count Analysis</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/cncstop.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=qm6nHZXeIvg" class="play-btn-s2 video-play">
                                                </a>
                                                <p>OEE Analysis</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/cncstop.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=IrIqH680c80" class="play-btn-s2 video-play">
                                                </a>
                                                <p>Target Production Analysis</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/cncstop.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=rHHNT7v5I1c" class="play-btn-s2 video-play">
                                                </a>
                                                <p>Distrupt Notification Tracing</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/cncstop.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=n3mj3TdnWRw" class="play-btn-s2 video-play">
                                                </a>
                                                <p>Production Line</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/cncstop.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=br0NQxoJ-WE" class="play-btn-s2 video-play">
                                                </a>
                                                <p>Operation Volume</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-20">
                                    <div class="gdlr-core-portfolio-grid  gdlr-core-center-align gdlr-core-style-normal">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-margin-icon">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/cncstop.jpg" alt="Fanuc mtconnect" style="width:400px; height:200px;">
                                                <a href="https://www.youtube.com/watch?v=b4Ok76zhxyY" class="play-btn-s2 video-play">
                                                </a>
                                                <p>Total Daily Business Volume</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " style="padding: 50px 15px 0px 15px;">
            <div class="gdlr-core-pbf-background-wrap"></div>
            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full">
                    <div class="gdlr-core-pbf-element">
                        <br /><br />
                        <div class="gdlr-core-portfolio-item gdlr-core-item-pdb clearfix  gdlr-core-portfolio-item-style-modern" style="padding-bottom: 0px ;">
                            @*<div class="gdlr-core-filterer-wrap gdlr-core-js  gdlr-core-style-button gdlr-core-item-pdlr gdlr-core-center-align" data-ajax="gdlr_core_portfolio_ajax" data-settings="{&quot;category&quot;:&quot;&quot;,&quot;tag&quot;:&quot;&quot;,&quot;num-fetch&quot;:&quot;8&quot;,&quot;layout&quot;:&quot;fitrows&quot;,&quot;thumbnail-size&quot;:&quot;Frame Landscape 2&quot;,&quot;orderby&quot;:&quot;date&quot;,&quot;order&quot;:&quot;desc&quot;,&quot;portfolio-style&quot;:&quot;modern&quot;,&quot;hover&quot;:&quot;icon-title-tag&quot;,&quot;hover-info&quot;:[&quot;icon&quot;,&quot;title&quot;,&quot;tag&quot;],&quot;has-column&quot;:&quot;yes&quot;,&quot;no-space&quot;:&quot;no&quot;,&quot;excerpt&quot;:&quot;none&quot;,&quot;excerpt-number&quot;:&quot;20&quot;,&quot;column-size&quot;:&quot;15&quot;,&quot;filterer&quot;:&quot;button&quot;,&quot;filterer-align&quot;:&quot;center&quot;,&quot;pagination&quot;:&quot;none&quot;,&quot;id&quot;:&quot;&quot;,&quot;class&quot;:&quot;&quot;,&quot;pagination-style&quot;:&quot;default&quot;,&quot;pagination-align&quot;:&quot;default&quot;,&quot;portfolio-grid-text-align&quot;:&quot;left&quot;,&quot;portfolio-grid-style&quot;:&quot;normal&quot;,&quot;portfolio-frame-opacity&quot;:&quot;1&quot;,&quot;enable-portfolio-tag&quot;:&quot;enable&quot;,&quot;enable-portfolio-date&quot;:&quot;disable&quot;,&quot;portfolio-medium-size&quot;:&quot;small&quot;,&quot;portfolio-medium-style&quot;:&quot;left&quot;,&quot;enable-thumbnail-zoom-on-hover&quot;:&quot;enable&quot;,&quot;enable-thumbnail-grayscale-effect&quot;:&quot;disable&quot;,&quot;enable-badge&quot;:&quot;disable&quot;,&quot;carousel-autoslide&quot;:&quot;enable&quot;,&quot;carousel-navigation&quot;:&quot;navigation&quot;,&quot;read-more-button&quot;:&quot;disable&quot;,&quot;overlay-color&quot;:&quot;&quot;,&quot;overlay-opacity&quot;:&quot;&quot;,&quot;portfolio-title-font-size&quot;:&quot;19px&quot;,&quot;portfolio-title-font-weight&quot;:&quot;400&quot;,&quot;portfolio-title-letter-spacing&quot;:&quot;0px&quot;,&quot;portfolio-title-text-transform&quot;:&quot;none&quot;,&quot;portfolio-hover-title-font-size&quot;:&quot;&quot;,&quot;portfolio-hover-title-font-weight&quot;:&quot;&quot;,&quot;portfolio-hover-title-letter-spacing&quot;:&quot;&quot;,&quot;portfolio-hover-title-text-transform&quot;:&quot;uppercase&quot;,&quot;filterer-bottom-margin&quot;:&quot;&quot;,&quot;portfolio-title-bottom-margin&quot;:&quot;&quot;,&quot;padding-bottom&quot;:&quot;0px&quot;,&quot;title-align&quot;:&quot;left&quot;,&quot;title-left-media&quot;:&quot;icon&quot;,&quot;title-left-icon&quot;:&quot;&quot;,&quot;title-left-image&quot;:&quot;&quot;,&quot;title&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;caption-position&quot;:&quot;top&quot;,&quot;read-more-text&quot;:&quot;Read More&quot;,&quot;read-more-link&quot;:&quot;&quot;,&quot;read-more-target&quot;:&quot;_self&quot;,&quot;title-size&quot;:&quot;41px&quot;,&quot;title-letter-spacing&quot;:&quot;&quot;,&quot;title-font-style&quot;:&quot;&quot;,&quot;title-text-transform&quot;:&quot;uppercase&quot;,&quot;caption-size&quot;:&quot;16px&quot;,&quot;caption-font-style&quot;:&quot;&quot;,&quot;read-more-size&quot;:&quot;14px&quot;,&quot;title-left-icon-color&quot;:&quot;&quot;,&quot;title-color&quot;:&quot;&quot;,&quot;caption-color&quot;:&quot;&quot;,&quot;read-more-color&quot;:&quot;&quot;,&quot;read-more-divider-color&quot;:&quot;&quot;,&quot;title-wrap-bottom-margin&quot;:&quot;&quot;,&quot;title-carousel-nav-style&quot;:&quot;default&quot;,&quot;lightbox-group&quot;:&quot;gdlr-core-img-group-1&quot;,&quot;paged&quot;:1}" data-target="gdlr-core-portfolio-item-holder" data-target-action="replace">
                                    <a href="#" class="gdlr-core-filterer gdlr-core-button-color gdlr-core-active">All</a>
                                    <a href="#" class="gdlr-core-filterer gdlr-core-button-color" data-ajax-name="category" data-ajax-value="constructions">Constructions</a>
                                    <a href="#" class="gdlr-core-filterer gdlr-core-button-color" data-ajax-name="category" data-ajax-value="engineering">Engineering</a>
                                    <a href="#" class="gdlr-core-filterer gdlr-core-button-color" data-ajax-name="category" data-ajax-value="planning">Planning</a>
                                    <a href="#" class="gdlr-core-filterer gdlr-core-button-color" data-ajax-name="category" data-ajax-value="system">System</a>
                                </div>*@
                            <div class="gdlr-core-portfolio-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/CNC-milling-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a href="https://www.youtube.com/watch?v=sqM-MBN3-PA" class="play-btn-s2 video-play img"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=sqM-MBN3-PA">Real-Time Count Tracking</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/productivity-2-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a class="play-btn-s2 video-play img" href="https://www.youtube.com/watch?v=-8eH5KoRbHE"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=-8eH5KoRbHE">Operator Performance Tracking</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/cncdurus-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a class="play-btn-s2 video-play img" href="https://www.youtube.com/watch?v=hJJSoZAYC1E"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=hJJSoZAYC1E">Machine Performance Tracking</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/production-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a class="play-btn-s2 video-play img" href="https://www.youtube.com/watch?v=hX7kbVDMfb4"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=hX7kbVDMfb4">Program Number Tracking</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/s-vardiya-zamani-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a class="play-btn-s2 video-play img" href="https://www.youtube.com/watch?v=QOjUKcmxrgk"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=QOjUKcmxrgk">Shift System</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/s-toplamda-islenen-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a class="play-btn-s2 video-play img" href="https://www.youtube.com/watch?v=U6M00aalAGw"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=U6M00aalAGw">Total Parça Piece of Count Analysis</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/s-oee-analiz-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a class="play-btn-s2 video-play img" href="https://www.youtube.com/watch?v=qm6nHZXeIvg"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=qm6nHZXeIvg">OEE Analysis</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/uretim-1-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a class="play-btn-s2 video-play img" href="https://www.youtube.com/watch?v=IrIqH680c80"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=IrIqH680c80">Target Production Analysis</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/cncstop-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a class="play-btn-s2 video-play img" href="https://www.youtube.com/watch?v=rHHNT7v5I1c"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=rHHNT7v5I1c">Distrupt Notification Tracing</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/durussss-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a class="play-btn-s2 video-play img" href="https://www.youtube.com/watch?v=n3mj3TdnWRw"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=n3mj3TdnWRw">Production Line</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap video">
                                                <img src="/images/unnamedd-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a class="play-btn-s2 video-play img" href="https://www.youtube.com/watch?v=br0NQxoJ-WE"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=br0NQxoJ-WE">Operation Volume</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                    <div class="gdlr-core-portfolio-modern">
                                        <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title-tag">
                                            <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover video">
                                                 <img src="/images/unnamed-400x200.jpg" alt="Fanuc mtconnect" style="width:452px;">
                                                <a class="play-btn-s2 video-play img" href="https://www.youtube.com/watch?v=b4Ok76zhxyY"></a>
                                                <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js">
                                                    <span class="gdlr-core-image-overlay-content" style="margin-top: -51px;">
                                                        <span class="gdlr-core-portfolio-title gdlr-core-title-font ">
                                                            <a href="https://www.youtube.com/watch?v=b4Ok76zhxyY">Total Daily Business Volume</a>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
