﻿@model Kapasitematik.Models.News
@{
    ViewData["Title"] = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.haberDetailSection{
padding-top: 80px;
}

h1{
margin-top: 0px !important;
}
@@media only screen and (max-width: 770px){
.haberDetailSection{
padding-top: 80px;
}
}

</style>

<div class="section section-pad section-bg haberDetailSection" id="report">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12  col-xs-12" style="padding-left: 0px;padding-right: 0px;">
                @Html.Raw(Model.Content.ToString())
            </div>
            <div class="gdlr-core-portfolio-single-nav-wrap">
                <div class="gdlr-core-container">
                    <div class="gdlr-core-portfolio-single-nav-area gdlr-core-item-pdlr clearfix">
                        <span class="gdlr-core-portfolio-single-nav gdlr-core-portfolio-single-nav-left">
                            <a href="/haberler" rel="prev">
                                <i class="fa fa-arrow-left"></i>
                                <span class="gdlr-core-portfolio-text">Haberlere Git</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

