﻿
@{
    ViewData["Title"] = "OEE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript"></script>
<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="realfactory-blog-title-wrap  realfactory-style-custom realfactory-feature-image" style="background-image: url() ;">
        <div class="realfactory-header-transparent-substitute" style="height: 70px;"></div>
        <div class="realfactory-blog-title-overlay"></div>
        <div class="realfactory-blog-title-container realfactory-container">
            <div class="realfactory-blog-title-content realfactory-item-pdlr" style="padding-top: 400px ;padding-bottom: 80px ;">
                <header class="realfactory-single-article-head clearfix">
                    <div class="realfactory-single-article-head-right">
                        <h1 class="realfactory-single-article-title">Toplam Ekipman Etkinliği (OEE) Hesaplama</h1>
                    </div>
                </header>
            </div>
        </div>
    </div>
    <div class="realfactory-content-container realfactory-container">
        <div class=" realfactory-sidebar-wrap clearfix realfactory-line-height-0 realfactory-sidebar-style-right">
            <div class=" realfactory-sidebar-center realfactory-column-40 realfactory-line-height">
                <div class="realfactory-content-wrap realfactory-item-pdlr clearfix">
                    <div class="realfactory-content-area">
                        <article id="post-1313" class="post-1313 post type-post status-publish format-standard has-post-thumbnail hentry category-blog tag-metal tag-mining tag-polymer">
                            <div class="realfactory-single-article">
                                <div class="realfactory-single-article-content">
                                    <p>
                                        Fabrikanızın bir gün önceki Toplam Ekipman Etkinliğini ölçümleyebilirsiniz. Dünya standartlarına göre OEE değerinizin trend olup olmadığını öğrenebilirsiniz.
                                        Toplam Ekipman Etkinliği, en basit tanımıyla “kaliteli bir ürün üretmek için zamanın ne kadar etkili kullanıldığının”ölçülmesidir.
                                        OEE’nin genel formülünü aşağıdaki gibi gösterebiliriz: OEE= Kullanılabilir Zaman (Availibility) x Verimlilik (Productivity) x Kalite (Quality)
                                        Bu terim, üretim yapılan makinenin üretim süresince ne kadar süre çalıştığını (kullanılabilirlik) hesaplamak için kullanılır. Bu hesaplamayı yaparken amacımız makinemizin o gün içerisindeki gerçek kullanılabilir zamanını hesaplamaktır.
                                        Eğer doğru kullanılırsa OEE gerçekten yalın üretim için çok verimli bir konsepttir, bu sebeplerden biri iyi analiz edilmiş OEE raporu bize neden üretim süresinde istenilen miktara ulaşamadığımızı, neden çok fazla makina arızası olduğunu ve diğer sebepleri gösterir. Bu bilgiler bize gereken geliştirici planları yapmamız için makine operatörleri, satış elemanları, bakım onarım elemanları için mükemmel bir iletişim imkânı sağlar.
                                    </p>

                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <span>Parametre girişi yaparak OEE değerinizi hesaplayabilirsiniz.</span>                                                    
                                                </div>
                                            </div>



                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="cevrimZamani" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Çevirim Zamanı (Saniye)</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="cevrimZamani" name="Name" type="number" class="input-line required small noscroll">*@
                                                    @*<input type="number" name="Name" id="cevrimZamani" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                                                        <label class="input-title ">Çevirim Zamanı (Saniye)</label>*@
                                                </div>
                                            </div>

                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="uretimAdet" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Üretim (Adet)</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="uretimAdet" name="Name" type="number" class="input-line required small noscroll">*@
                                                    @*<input type="number" name="Name" id="uretimAdet" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
        <label class="input-title ">Üretim (Adet)</label>*@
                                                </div>
                                            </div>

                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="hurdaAdet" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Hurda (Adet)</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="hurdaAdet" name="Name" type="number" class="input-line required small">*@
                                                    @*<input type="number" name="Name" id="hurdaAdet" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
        <label class="input-title ">Hurda (Adet)</label>*@
                                                </div>
                                            </div>

                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="vardiyaSuresi" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Vardiya Süresi (Saat)</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="vardiyaSuresi" name="Name" type="number" class="input-line required small">*@
                                                    @*<input type="number" name="Name" id="vardiyaSuresi" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
        <label class="input-title ">Vardiya Süresi (Saat)</label>*@
                                                </div>
                                            </div>

                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="planliDurus" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Planlı Duruş (Dakika)</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="planliDurus" name="Name" type="number" class="input-line required small">*@
                                                    @*<input type="number" name="Name" id="planliDurus" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
        <label class="input-title ">Planlı Duruş (Dakika)</label>*@
                                                </div>
                                            </div>


                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="plansizDurus" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Plansız Duruş (Dakika)</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="plansizDurus" name="Name" type="number" class="input-line required small">*@
                                                    @*<input type="number" name="Name" id="plansizDurus" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
        <label class="input-title ">Plansız Duruş (Dakika)</label>*@
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    Parametrelere Göre Hesaplanan Sonuçlar
                                                </div>
                                            </div>
                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="netKullanilabilirSaat" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Net Kullanılabilir Saat</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="netKullanilabilirSaat" name="Name" type="number" value="0" class="input-line required small" readonly>*@
                                                    @*<input type="number" name="Name" id="netKullanilabilirSaat" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" readonly>
        <label class="input-title ">Net Kullanılabilir Saat</label>*@
                                                </div>
                                            </div>

                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="netOperasyonSaati" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Net Operasyon Saati</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="netOperasyonSaati" name="Name" type="number" value="0" class="input-line required small" readonly>*@
                                                    @*<input type="number" name="Name" id="netOperasyonSaati" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" readonly>
        <label class="input-title ">Net Operasyon Saati</label>*@
                                                </div>
                                            </div>

                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="tumUretimSaati" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Tüm Üretim Saati</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="tumUretimSaati" name="Name" type="number" value="0" class="input-line required small" readonly>*@
                                                    @*<input type="number" name="Name" id="tumUretimSaati" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" readonly>
        <label class="input-title ">Tüm Üretim Saati</label>*@
                                                </div>
                                            </div>

                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="hurdaKayipSaati" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Hurda Nedeniyle Kayıp Zaman</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="hurdaKayipSaati" name="Name" type="number" value="0" class="input-line required small" readonly>*@
                                                    @*<input type="number" name="Name" id="hurdaKayipSaati" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" readonly>
        <label class="input-title ">Hurda Nedeniyle Kayıp Zaman</label>*@
                                                </div>
                                            </div>



                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="kullanilabilirlik" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Kullanılabilirlik (%)</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="kullanilabilirlik" name="Name" type="number" value="0" class="input-line required small" readonly>*@
                                                    @*<input type="number" name="Name" id="kullanilabilirlik" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" readonly>
        <label class="input-title ">Kullanılabilirlik (%)</label>*@
                                                </div>
                                            </div>


                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="verimlilik" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Verimlilik (%)</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="verimlilik" name="Name" type="number" value="0" class="input-line required small" readonly>*@
                                                    @*<input type="number" name="Name" id="verimlilik" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" readonly>
        <label class="input-title ">Verimlilik (%)</label>*@
                                                </div>
                                            </div>


                                            <div id="contact-form" class="form-message text-center">
                                                <div class="form-results"></div>
                                                <div class="input-field animated" data-animate="fadeInUp" data-delay=".4">
                                                    <div class="input-group input-group-sm mb-3">
                                                        <input type="number" name="Name" id="kalite" class="form-control form-control-sm" aria-label="Recipient's username" aria-describedby="basic-addon2" readonly>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">Kalite (%)</span>
                                                        </div>
                                                    </div>
                                                    @*<input id="kalite" name="Name" type="number" value="0" class="input-line required small" readonly>*@
                                                    @*<input type="number" name="Name" id="kalite" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" readonly>
        <label class="input-title ">Kalite (%)</label>*@
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row text-center">

                                        <div class="col-md-4">


                                            <h6> Toplam Ekipman Etkinliği<br /> OEE ( <label id="oeelbl"></label> )</h6>

                                        </div>
                                        <div class="col-md-8">
                                            <div class="progress">
                                                <div id="progressbar" class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/Calculations.js"></script>

