﻿@model Kapasitematik.Database.User
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Paneli Giriş | Kapasitematik">
    <meta name="author" content="Tezmaksan">
    <meta name="keyword" content="Admin Paneli Giriş | Kapasitematik">

    <title>Admin Paneli Giriş Sayfası</title>

    <!-- Bootstrap CSS -->
    <link href="/NiceAdmin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/NiceAdmin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/NiceAdmin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/NiceAdmin/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="/NiceAdmin/css/style.css" rel="stylesheet">
    <link href="/NiceAdmin/css/style-responsive.css" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="/NiceAdmin/js/html5shiv.js"></script>
      <script src="/NiceAdmin/js/respond.min.js"></script>
      <![endif]-->
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body class="login-img3-body">
    <div class="container">
        <form class="login-form" method="post" asp-controller="Login" asp-action="Token">
            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" asp-for="Username" class="form-control" id="Username" placeholder="Kullanıcı Adı" autofocus="">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" asp-for="Password" class="form-control" id="Password" placeholder="Şifre">
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit" id="btnLogin"><i class="fa fa-sign-in" aria-hidden="true"></i> Giriş Yap</button>
                <br /><br />
            </div>
        </form>

        @if (TempData["mesaj"] != null)
        {
            <div id="dialog" title="Bilgi Mesajı">
                <p>
                    @TempData["mesaj"].ToString()
                </p>
            </div>
        }
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $("#dialog").dialog();
</script>
