﻿@model IEnumerable<Kapasitematik.Models.Referances>
@{
    ViewData["Title"] = "Kapasitematik Referances";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}

<div class="realfactory-page-wrapper" id="realfactory-page-wrapper">
    <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-section">
            <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                <div class="gdlr-core-pbf-element">
                    <br /><br />
                          <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-image" style="padding-bottom: 40px ;">
                              <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                  @foreach (var item in Model)
                                  {
                                      <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-30">
                                          <div class="gdlr-core-blog-modern  gdlr-core-with-image gdlr-core-hover-overlay-content gdlr-core-opacity-on-hover gdlr-core-outer-frame-element">
                                              <div class="gdlr-core-blog-modern-inner">
                                                  <div class="gdlr-core-blog-thumbnail gdlr-core-media-image">
                                                      <img src="@item.ListThumb" alt="">
                                                  </div>
                                                  <div class="gdlr-core-blog-modern-content  gdlr-core-center-align">
                                                      <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 22px ;font-weight: 700 ;letter-spacing: 0px ;">
                                                          <a href="@item.Url">@item.Title</a>
                                                      </h3>
                                                      <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                          <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                              <span class="gdlr-core-head">
                                                                  <i class="fa fa-clock-o"></i>
                                                              </span>
                                                              <a href="#">@item.Date</a>
                                                          </span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  }
                              </div>
                          </div>
                </div>
            </div>
        </div>
    </div>
</div>

