﻿/* Smartphones (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
    /* Styles */
    /*#rev_slider_1_1_wrapper {
        display:none;
    }
}*/

/* Smartphones (landscape) ----------- */
/*@media only screen and (min-width : 321px) {*/
    /* Styles */
    /*#rev_slider_1_1_wrapper {
        display: none;
    }
}*/

/* Smartphones (portrait) ----------- */
/*@media only screen and (min-width : 320px) {*/
    /* Styles */
    /*#rev_slider_1_1_wrapper {
        display: none;
    }
}*/

/* iPads (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {*/
    /* Styles */
/*}*/

/* iPads (landscape) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {*/
    /* Styles */
/*}*/

/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {*/
    /* Styles */
/*}*/

/* Desktops and laptops ----------- */
/*@media only screen and (min-width : 1224px) {*/
    /* Styles */
    /*#operator {
        max-width:885px;
    }
}

@media only screen and (min-width: 768px) {*/
    /* For desktop: */
    /*#operator {
        max-width: 985px;
    }
}

@media (min-width:768px) and (max-width:1199px) {
    #operator {
        max-width: 885px;
    }
}

@media (min-width:1199px) {
    #operator {
        max-width: 885px;
    }
}*/

/* Large screens ----------- */
/*@media only screen and (min-width : 1824px) {*/
    /* Styles */
/*}*/

/* iPhone 4 ----------- */
/*@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {*/
    /* Styles */
    /*#rev_slider_1_1_wrapper {
        display: none;
    }
}*/
